---
---

// Font weights
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

@font-face {
  src: url(/fonts/HKNova-Light.otf);
  font-family: hknova-light;
  font-weight: $light;
}
@font-face {
  src: url(/fonts/HKNova-Regular.otf);
  font-family: hknova-regular;
  font-weight: $regular;
}
@font-face {
  src: url(/fonts/HKNova-SemiBold.otf);
  font-family: hknova-semibold;
  font-weight: $semi-bold;
}
@font-face {
  src: url(/fonts/HKNova-Medium.otf);
  font-family: hknova-medium;
  font-weight: $medium;
}
@font-face {
  src: url(/fonts/HKNova-Bold.otf);
  font-family: hknova-bold;
  font-weight: $bold;
}
@font-face {
  src: url(/fonts/HKNova-ExtraBold.otf);
  font-family: hknova-extrabold;
  font-weight: $extra-bold;
}

// GoBusiness brand colors
$primary: {{- site.colors.primary-color -}};
$secondary: {{- site.colors.secondary-color -}};
$secondary-hover: lighten($secondary, 10%);
{%- for media-color in site.colors.media-colors -%}
    ${{- media-color.title -}}: {{- media-color.color -}};
{%- endfor -%}

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Background
.bg {
  &-primary {
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
    &-1 {
      background-color: $media-color-one;
      &:hover {
        background-color: darken($media-color-one, 10%);
      }
    }
    &-2 {
      background-color: $media-color-two; 
      &:hover {
        background-color: darken($media-color-two, 10%);
      }
    }
    &-3 {
      background-color: $media-color-three;
      &:hover {
        background-color: darken($media-color-three, 10%);
      }
    }
    &-4 {
      background-color: $media-color-four;
      &:hover {
        background-color: darken($media-color-four, 10%);
      }
    }
    &-5 {
      background-color: $media-color-five;
      &:hover {
        background-color: darken($media-color-five, 10%);
      }
    }
  }
  &-1 {
    //background-color: $primary;
    background: url("https://c.stocksy.com/a/YY3500/z0/1205314.jpg") no-repeat
      left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2 {
    //background-color: $info;
    background: url("https://c.stocksy.com/a/FY3500/z0/1205295.jpg") no-repeat
      left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3 {
    //background-color: $warning;
    background: url("https://c.stocksy.com/a/L1o500/z0/1383923.jpg") no-repeat
      left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4 {
    //background-color: $danger;
    background: url("https://c.stocksy.com/a/Z22000/z0/7847.jpg") no-repeat left
      50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient {
    background: #b41e8e;
    background: -moz-linear-gradient(
      45deg,
      #b41e8e 0%,
      #5c3f9e 50%,
      #0061af 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #b41e8e 0%,
      #5c3f9e 50%,
      #0061af 100%
    );
    background: linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-Singpass {
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #be2e7d 0%,
      #d64e54 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #be2e7d 0%,
      #d64e54 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #be2e7d 0%,
      #d64e54 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline {
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #009d62 0%,
      #0094d3 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #009d62 0%,
      #0094d3 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #009d62 0%,
      #0094d3 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &-parkingsg {
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #0164b6 0%,
      #04a4e3 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #0164b6 0%,
      #04a4e3 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #0164b6 0%,
      #04a4e3 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
  &-primary {
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
}

// Text color
.has-text-primary {
  color: $primary !important;
}
.has-text-secondary {
  color: $secondary !important;
}

// Menu/Left-nav
.sidenav {
  .bp-menu-list {
    li a {
      font-size: 16px;
      line-height: 24px;
    }
    li a[class~="is-active"],
    li a[class~="has-text-weight-bold"] {
      font-family: hknova-semibold;
      font-weight: 600;
    }
  }
}

.bp-menu-list a.is-active {
  color: $secondary !important;
  border-bottom: 2px solid $secondary !important;
  &:hover {
    border-bottom: 2px solid $secondary !important;
  }
}
.bp-menu-list a:hover {
  color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
}

.masthead-container {
  box-shadow: none !important;

  .bp-masthead {


    @media screen and (max-width: 1023px) {
      a {
        margin: 0px auto;
      }
    }
  }
}

// Footer

.bp-footer {
  background-color: #313840 !important;

  .sub-header {
    .has-text-white {
      font-family: hknova-semibold;
      font-weight: 600;
    }
  }
}

// Button

.bp-button.is-text span {
  &:hover,
  &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}
.bp-button.bp-dropdown-button.is-fullwidth {
  p {
    font-family: hknova-regular;
  }
}
.bp-dropdown-content {
  p,
  h5 {
    font-family: hknova-regular;
  }
}

// Secondary button
.bp-sec-button {
  color: $secondary;
  & span {
    border-bottom: 2px solid $secondary !important;
  }
  &:hover {
    & span {
      border-bottom: 2px solid $secondary-hover !important;
      color: $secondary-hover !important;
    }
    & i {
      color: $secondary-hover !important;
    }
  }
}

// Bottom navigation bar
.bottom-navigation {
  a {
    background-color: $secondary;
    &:hover {
      background-color: darken($secondary, 10%) !important;
    }
  }
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
  span {
    &:hover {
      border-color: $secondary;
      color: $secondary;
    }
    &.selected-page:hover {
      background-color: $secondary;
      border-color: $secondary;
    }
  }
  .selected-page {
    background-color: $secondary;
    border-color: $secondary;
  }
}

// Homepage
#key-highlights {
  //background-color: $primary;
  background-color: #084e8a;
  .col {
    //border-left:1px solid darken($primary,10%);
    border-left: 1px solid darken(#084e8a, 10%);
    @include touch() {
      //border-top:1px solid darken($primary,10%);
      border-left: 1px solid darken(#084e8a, 10%);
    }
    &:hover {
      //background-color: darken($primary,10%);
      background-color: darken(#084e8a, 10%);
    }
  }
}

// Navbar
.navbar {
  &-brand {
    @media (max-width: 1280px) {
      display: grid;
      grid-template-columns: 1fr auto auto;
      align-items: center;
    }
  }

  &-start {
    .navbar-item {
      a {
        &.active {
          @include touch() {
            //border-bottom:2px solid $secondary;
            border-bottom: 2px solid #037e8a;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    //border-bottom: 1px solid $secondary;
    //border-left: 1px solid $secondary;
    border-bottom: 1px solid #037e8a;
    border-left: 1px solid #037e8a;
  }

  .navbar-item {
    a {
      font-family: hknova-semibold;
      font-weight: 600;
      text-transform: none !important;
    }
    .sub-link {
      font-family: hknova-regular;
      font-weight: 400;
    }
    .sub-link.is-active {
      //color:$secondary;
      color: #037e8a;
    }

    .selector {
      &.active {
        //background-color:$secondary;
        background-color: #037e8a;
      }
    }
    &.active {
      @include desktop() {
        //border-bottom:1px solid $secondary;
        border-bottom: 1px solid #037e8a;
      }
    }
  }
  .navbar-item:hover {
    a {
      //color:$secondary;
      color: #037e8a;
    }
    .selector {
      //background-color:$secondary;
      background-color: #037e8a;
    }
  }
}

.bp-container {
  a,
  b,
  p,
  u,
  small {
    font-family: hknova-regular;
  }
  h1[class~="has-text-white"]>b {
    font-family: hknova-semibold;
    font-weight: 600;
  }
}

// Post-content
.content {
  h1 {
    font-family: hknova-bold;
    color: $secondary;
  }
  h2,
  h3 {
    font-family: hknova-semibold;
    color: $secondary;
    strong {
      color: $secondary;
    }
  }

  // For /start-a-business/choose-a-business-structure/ page
  h3+div>iframe {
    margin-top: 20px;
  }

  h4 {
    font-family: hknova-semibold;
    color: #313840;
  }

  h5 {
    font-family: hknova-semibold;
  }

  strong {
    font-family: hknova-bold;
    font-weight: $bold;
    font-size: 18px;
    line-height: 27px;
    color: #313840;
  }

  // Custom for font types
  a,
  p,
  li,
  div,
  em {
    font-family: hknova-regular;
  }
  blockquote {
    border-left-color: $secondary;
  }
  blockquote > p {
    color: $secondary;
  }
  blockquote > ul {
    color: $secondary;
    // Custom for hyperlink font colors
  }
  a {
    color: #2a6ebb;
  }
  a:hover {
    color: #084e8a;
  }
  a:visited {
    color: #89579b;
  }
  a:visited:hover {
    color: #521b88;
  }

  a.jekyllcodex_button:visited,
  a.jekyllcodex_button:visited:hover {
    color: white !important;
  }

  li,
  p {
    font-size: 18px;
    line-height: 27px;
    color: #313840;
  }

  li {
    margin: 24px 0 !important;
  }
}

// Type scale iterations
h1 {
  font-family: hknova-bold;
  font-size: 48px;
  font-weight: $bold;
  line-height: 52px;
  letter-spacing: -1.5px;
  color: $secondary;
}

h2 {
  font-family: hknova-semibold;
  font-size: 36px;
  font-weight: $semi-bold;
  line-height: 45px;
  color: $secondary;
}

h3 {
  font-family: hknova-semibold;
  font-size: 28px;
  font-weight: $semi-bold;
  line-height: 35px;
  color: $secondary;
}

h4 {
  font-family: hknova-semibold;
  font-size: 24px;
  font-weight: $semi-bold;
  line-height: 30px;
  color: #313840;
}

p {
  font-family: hknova-regular;
  font-size: 18px;
  font-weight: $regular;
}

.p1 {
  font-family: hknova-semibold;
  font-size: 18px;
  font-weight: $semi-bold;
  line-height: 27px;
  color: #313840;
}

.p2 {
  font-family: hknova-regular;
  font-size: 16px;
  font-weight: $regular;
  line-height: 24px;
  color: #313840;
}

.p3 {
  font-family: hknova-regular;
  font-size: 14px;
  font-weight: $regular;
  line-height: 21px;
  color: #313840;
}

a,
p,
li,
em {
  font-family: hknova-regular;
}

// Table of Contents
.content table td,
.content table th {
  font-family: hknova-regular;
  font-size: 18px;
  padding: 24px 20px;
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover,
.media-category-button.selected {
  color: $secondary;
  font-family: hknova-regular;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

// accordion to show table - Kevin
.horizontal-scroll {
  display: contents;
}

// specific image inline with text - Kevin
img[src*="/images/budget2021/budget2021.png"] {
  display: inline;
  margin: auto;
  width: 100px;
  height: auto;
}
img[src*="/images/budget2022/budget2022.png"] {
  display: inline;
  margin: auto;
  width: 100px;
  height: auto;
}

img[src*="/images/budget2021/budget_enhanced.png"] {
  display: inline;
  margin: auto;
  width: 180px;
  height: auto;
}

img[src*="/images/budget2021/budget_extended.png"] {
  display: inline;
  margin: auto;
  width: 180px;
  height: auto;
}

img[src*="/images/budget2021/budget_new.png"] {
  display: inline;
  margin: auto;
  width: 150px;
  height: auto;
}

img[src*="/images/covid/tracetogether_logo.png"] {
  display: inline;
  width: 240px;
}

img[src*="/images/covid/safeentry_logo_inline.png"] {
  display: inline;
  width: 240px;
}

img[src*="/images/licences/cp-mini.png"] {
  display: inline;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  width: 16px;
  height: 16px;
}

img[src*="/images/licences/sp-mini.png"] {
  display: inline;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  width: 16px;
  height: 16px;
}

img[src*="/images/licences/sp.png"] {
  display: inline;
  margin: auto;
  width: 36px;
  height: auto;
}

img[src*="/images/licences/cp.png"] {
  display: inline;
  margin: auto;
  width: 36px;
  height: auto;
}

p > img[src*="/images/"] {
  margin: 32px 0;
}

p > img[src*="/images/blog/"] {
  margin: 32px 0 0 0;
}
p > img[src*="/images/blog/content/"] {
  width: 800px;
}

.news-content {
  position: relative;
  font-family: hknova-regular;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  width: 50%;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}

.notification-container {
  display: flex;
  padding: 8px 20px 8px 20px;
  background-color: #037e8a;
  justify-content: space-between;
}

.notification-container.hide {
  display: none;
}

.x {
  color: white;
  line-height: revert;
  font-family: hknova-regular;

  b {
    font-family: hknova-semibold;
  }

  a {
    color: white;
  }
}

.login-btn {
  display: none;
  background-color: #037e8a;
  height: 40px;
  width: 83px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #037e8a;

  &::after {
    content: "Log In";
    color: white;
    text-transform: capitalize;
    position: absolute;
    left: 25%;
    top: 22%;
    font-family: hknova-semibold;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }
  &:hover {
    background-color: #026770;
  }
  &:active {
    background-color: #025b63;
  }
  &:focus {
    outline: 2px solid #1c8b95;
  }

  @media (min-width: 320px) {
    display: block;
  }
}

.navbar-item > img {
  max-width: 160px !important;
}

.navbar-burger.burger {
  height: 48px;
  width: 48px;
  margin: auto 4px;
}

.navbar-burger span {
  width: 18px;

  &:nth-child(2) {
    width: 10px;
  }
}

.btn{
  font-family: hknova-semibold;
  font-weight: 600;
  padding: 12.5px 24px;
  margin-bottom: 0;
  text-decoration: none !important;
  color: white !important;
  background-color: #037e8a !important;
  border-radius: 3px;
  border: 1px solid #037e8a !important;
  cursor: pointer;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 18px;
  line-height: 27px;

  &:hover {
    background-color: #026770; 
  }
}

.lic-btn{
  font-family: hknova-semibold;
  font-weight: 600;
  padding: 12.5px 24px;
  margin-bottom: 0;
  text-decoration: none !important;
  color: white !important;
  background-color: #037e8a !important;
  border-radius: 3px;
  border: 1px solid #037e8a !important;
  cursor: pointer;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 18px;
  line-height: 27px;

  &:hover {
    background-color: #026770; 
  }

  @media only screen and (max-width: 760px){
    display: none;
  }
}

.lic-mobile-container{
    display: grid;
    grid-auto-rows: auto auto 1fr;
    background: #E6F2F3;
    border: 1px solid #B3D8DC;
    box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
    border-radius: 5px;
    padding: 24px;

  .lic-mobile-content>p {
    margin: 0 0 24px 0;
  }

  @media only screen and (min-width: 760px){
    display: none;
  }
}

table {
  & > thead > tr:nth-child(1),
  & > tbody > tr > td:nth-child(1) {
    width: auto;
  }
  & > thead > tr:nth-child(2),
  & > tbody > tr > td:nth-child(2) {
    width: 200px;
  }
}

.navbar-start > div:last-child > div {
  display: none;
}

.bp-container {
  .navbar-start {
    margin-right: 8px;
  }

  .navbar-end {
    margin-left: 0;

    .navbar-item {
      margin: 0;
    }

    .bp-button {
      padding-left: 0;
    }
  }
}

hr {
  height: 1px;
}

// Chatbot
div#webchat-container {
  font-family: 'hknova-regular';
}

// General Paragraphs
div#webchat-container > div > div > div:nth-child(2) div,
div#webchat-container > div > div > div:nth-child(2) p
{
  font-family: 'hknova-regular';
  font-size: 14px;
  line-height: 1.25rem;
}

// List styles
div#webchat-container ul {
  list-style-type: disc;
  list-style-position: outside;

  li {
    font-family: 'hknova-regular';
    font-size: 14px;
    line-height: 1.25rem;
  }
}

// Chatbot responses
div#webchat-container > div > div > div:nth-child(2) > div > div {
  font-family: unset;
  font-size: 20px;
  line-height: 35px;
} 

// User's responses
div#webchat-container div[direction="row-reverse"] > div > div > span {
  font-family: 'hknova-regular';
  font-size: 14px;
  line-height: 1.25rem;
}

// Card and titles
div#webchat-container .kxXLiI, 
div#webchat-container .duZRnn, 
div#webchat-container .liDYoY {
  font-family: 'hknova-semibold' !important;
  font-size: 14px !important;
  line-height: 1.25rem !important;
}

// Card button
div#webchat-container button.sc-cSHVUG {
  background-color: #fafdfd;
}

// Chatbot frame title
.sc-iwsKbI.jHlcrJ > div {
  position: relative;

  p {
    position: relative;
    &.sc-gZMcBi.kIqhcI {
      top: 6px;
    }
    &.sc-gqjmRU.dyvkkp {
      bottom: 6px;
    }
  }
  
}
