---

---
@font-face {
  src: url(/fonts/HKNova-Regular.otf);
  font-family: hknova-regular;
}
@font-face {
  src: url(/fonts/HKNova-Bold.otf);
  font-family: hknova-bold;
}
@charset "utf-8";

// GoBusiness brand colors
//$primary: #6031b6;
$primary: #037e8a;
$secondary: #037e8a;
//$secondary: #037E8A;
//$secondary: #313840;
$secondary-hover: lighten($secondary, 20%);

//$media-color-one: #49759a;
//$media-color-two: #744d9f;
$media-color-one: #3366CC;
$media-color-two: #CC9933;
$media-color-three: #009980;
$media-color-four: #006699;
$media-color-five: #CC9900;

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
  	&-1 {
  		background-color: $media-color-one;
  		&:hover {
  			background-color: darken($media-color-one, 10%);
		}
  	}
  	&-2 {
  		background-color: $media-color-two;
  		&:hover {
  			background-color: darken($media-color-two, 10%);
		}
  	}
  	&-3 {
  		background-color: $media-color-three;
  		&:hover {
  			background-color: darken($media-color-three, 10%);
		}
  	}
  	&-4 {
  		background-color: $media-color-four;
  		&:hover {
  			background-color: darken($media-color-four, 10%);
		}
  	}
  	&-5 {
  		background-color: $media-color-five;
  		&:hover {
  			background-color: darken($media-color-five, 10%);
		}
  	}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-Singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

// Text color
.has-text-primary {
	color: $primary !important;
}
.has-text-secondary {
	color: $secondary !important;
}

// Menu/Left-nav
.bp-menu-list a.is-active {
  color: $secondary !important;
  border-bottom: 2px solid $secondary !important;
	&:hover {
    border-bottom: 2px solid $secondary !important;
  }
}
.bp-menu-list a:hover {
  color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
}

// Button

.bp-button.is-text span {
  &:hover, &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}
.bp-button.bp-dropdown-button.is-fullwidth {
  p {
    font-family: hknova-regular;
  }
}
.bp-dropdown-content {
  p, h5 {
    font-family: hknova-regular;
  }
}

// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}
}

// Bottom navigation bar
.bottom-navigation {
	a {
    background-color: $secondary;
      &:hover{
        background-color: darken($secondary,10%) !important;
      }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $secondary;
            color: $secondary;
		}
        &.selected-page:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
	}
    .selected-page {
        background-color: $secondary;
        border-color: $secondary;
    }
}


// Homepage
#key-highlights{
	//background-color: $primary;
  background-color: #084e8a;
	.col {
		//border-left:1px solid darken($primary,10%);
		border-left:1px solid darken(#084e8a,10%);
		@include touch(){
			//border-top:1px solid darken($primary,10%);
			border-left:1px solid darken(#084e8a,10%);
		}
		&:hover{
			//background-color: darken($primary,10%);
			background-color: darken(#084e8a,10%);
		}
	}
}

// Navbar
.navbar{
  &-start{
    .navbar-item{
      a{
        &.active{
          @include touch(){
            //border-bottom:2px solid $secondary;
            border-bottom:2px solid #037e8a;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    //border-bottom: 1px solid $secondary;
    //border-left: 1px solid $secondary;
		border-bottom: 1px solid #037e8a;
    border-left: 1px solid #037e8a;
  }

  .navbar-item{
    .sub-link.is-active{
      //color:$secondary;
      color:#037e8a;
    }


    .selector{
      &.active{
        //background-color:$secondary;
        background-color:#037e8a;
      }
    }
    &.active{
      @include desktop(){
        //border-bottom:1px solid $secondary;
        border-bottom:1px solid #037e8a;
      }
    }
  }
.navbar-item:hover {
  a {
    //color:$secondary;
    color:#037e8a;
  }
  .selector {
      //background-color:$secondary;
      background-color:#037e8a;
    }
  }
}

.bp-container {
  a, b, p, u, small {
    font-family: hknova-regular;
  }
}

// Post-content
.content {
	h1, h2, h3, h4, h5 {
    color: $secondary;
    font-family: hknova-regular;
		strong {
			color: $secondary;
		}
  }
  
  // Custom for font types
  a, p, li, em {
    font-family: hknova-regular;
  }
	blockquote {
		border-left-color: $secondary;
	}
	blockquote > p {
		color: $secondary;
	}
	blockquote > ul {
    color: $secondary;
  // Custom for hyperlink font colors
  }
  a {
    color:#037e8a;
  }
  a:hover {
    color :#4471eb;
  }
}

// Table of Contents
.content table td, .content table th {
  font-family: hknova-regular;
  font-size: 20px;
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover, .media-category-button.selected {
  color: $secondary;
  font-family: hknova-regular;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

// specific image inline with text - Kevin
img[src*="/images/budget2021/budget2021.jpg"] {
  display: inline;
  margin: auto;
  width: 10%;
}

img[src*="/images/covid/SafeEntry_logo_inline.png"] {
  display: block;
  width: 240px;
}

img[src*="/images/covid/tracetogether_logo.png"] {
  display: block;
  width: 240px;
}

.news-content {
  position: relative;
  font-family: hknova-regular;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
	display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  width: 50%;

}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}
