---

---

@charset "utf-8";

// GoBusiness brand colors
//$primary: #6031b6;
$primary: #037e8a;
$secondary: #037e8a;
//$secondary: #037E8A;
//$secondary: #313840;
$secondary-hover: lighten($secondary, 10%);

//$media-color-one: #49759a;
//$media-color-two: #744d9f;
$media-color-one: #037e8a;
$media-color-two: #037e8a;
$media-color-three: #037e8a;
$media-color-four: #037e8a;
$media-color-five: #037e8a;

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
  	&-1 {
  		background-color: $media-color-one;
  		&:hover {
  			background-color: darken($media-color-one, 10%);
		}
  	}
  	&-2 {
  		background-color: $media-color-two;
  		&:hover {
  			background-color: darken($media-color-two, 10%);
		}
  	}
  	&-3 {
  		background-color: $media-color-three;
  		&:hover {
  			background-color: darken($media-color-three, 10%);
		}
  	}
  	&-4 {
  		background-color: $media-color-four;
  		&:hover {
  			background-color: darken($media-color-four, 10%);
		}
  	}
  	&-5 {
  		background-color: $media-color-five;
  		&:hover {
  			background-color: darken($media-color-five, 10%);
		}
  	}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

// Text color
.has-text-primary {
	color: $primary !important;
}
.has-text-secondary {
	color: $secondary !important;
}

// Menu/Left-nav
.bp-menu-list a.is-active {
	color: $secondary !important;
	border-bottom: 2px solid $secondary !important;
	&:hover {
		border-bottom: 2px solid $secondary !important;
	}
}
.bp-menu-list a:hover {
	color: $secondary !important;
	border-bottom: 1px solid $secondary !important;
}

// Button

.bp-button.is-text span {
  &:hover, &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}

// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}
}

// Bottom navigation bar
.bottom-navigation {
	a {
		background-color: $secondary;
	    &:hover{
	      background-color: darken($secondary,10%) !important;
	    }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $secondary;
            color: $secondary;
		}
        &.selected-page:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
	}
    .selected-page {
        background-color: $secondary;
        border-color: $secondary;
    }
}


// Homepage
#key-highlights{
	//background-color: $primary;
	background-color: #084e8a;
	.col {
		//border-left:1px solid darken($primary,10%);
		border-left:1px solid darken(#084e8a,10%);
		@include touch(){
			//border-top:1px solid darken($primary,10%);
			border-left:1px solid darken(#084e8a,10%);
		}
		&:hover{
			//background-color: darken($primary,10%);
			background-color: darken(#084e8a,10%);
		}
	}
}

// Navbar
.navbar{
  &-start{
    .navbar-item{
      a{
        &.active{
          @include touch(){
            //border-bottom:2px solid $secondary;
						border-bottom:2px solid #037e8a;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    //border-bottom: 1px solid $secondary;
    //border-left: 1px solid $secondary;
		border-bottom: 1px solid #037e8a;
    border-left: 1px solid #037e8a;
  }

  .navbar-item{
    .sub-link.is-active{
      //color:$secondary;
			color:#037e8a;
    }

    .selector{
      &.active{
        //background-color:$secondary;
				background-color:#037e8a;
      }
    }
    &.active{
      @include desktop(){
        //border-bottom:1px solid $secondary;
				border-bottom:1px solid #037e8a;
      }
    }
  }
.navbar-item:hover {
  a {
    //color:$secondary;
		color:#037e8a;
  }
  .selector {
      //background-color:$secondary;
			background-color:#037e8a;
    }
  }
}

// Post-content
.content {
	h1, h2, h3, h4, h5 {
		color: $secondary;
		strong {
			color: $secondary;
		}
	}
	blockquote {
		border-left-color: $secondary;
	}
	blockquote > p {
		color: $secondary;
	}
	blockquote > ul {
		color: $secondary;
	}
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover, .media-category-button.selected {
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}




//Special Table CSS-------------------------------------------------
$h1color: #6e768d;
$h3color: #b4bdc6;
$widthoftable: 100%;
$bgctables: #f0f4f7;
$bgfontcolor: #717787;

.gobizTable{
  margin: 40px auto;
  
  &-firstTable{
    list-style: none;
    //padding-left: 2em;
    //padding-right: 2em;
    text-align: center;
    
    &_table{
      vertical-align: top;
      width: $widthoftable;
      background-color: $bgctables;
      display: inline-block;
      padding: 0px 10px 20px;
      text-align: center;
      max-width: 48%;
      transition: all 0.3s ease;
      border-radius: 5px;
      
      @media screen and (max-width: 767px){
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
      }
      
      & > * {
         @media screen and (max-width: 767px){
           display: inline-block;
           vertical-align: middle;
        }
        
         @media screen and (max-width: 480px){
          display: block;
           float: none;
        }
      }
      
      &:after {
         @media screen and (max-width: 767px){
           display: table;
           content: '';
           clear: both;
        }
      }
      
      &:hover{
        transform: scale(1.08);
        @media screen and (max-width: 767px){
          transform: none;
        }
      }
      
      &:not(:last-of-type){
        margin-right: (100%-$widthoftable*3)/2;
         @media screen and (max-width: 767px){
           margin-right: auto;
         }
      }
      
      &__header{
        font-size: 1.6em;
        padding: 40px 0px;
        border-bottom: 2px solid #ebedec;
        letter-spacing: 0.03em;
        
        @media screen and (max-width: 1068px){
           font-size: 1em;
        }
         @media screen and (max-width: 767px){
            padding: 0px;
            border-bottom: none;
            float: left;
            width: 33%;
           padding-top: 3%;
           padding-bottom: 2%;
        }
        
        @media screen and (max-width: 610px){
          font-size: 1em;
        }
        
        @media screen and (max-width: 480px){
           float: none;
           width: 100%;
          font-size: 1em;
          margin-bottom: 5px;
        }
        
      }
      
      &__gobiz{
        font-size: 1em;
        padding: 30px 0px;
        border-bottom: 2px solid #ebedec;
        line-height: 0.7;
        
         @media screen and (max-width: 1068px){
           font-size: 1em;
        }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          float: left;
          clear: left;
          width: 33%; 
        }
        
         @media screen and (max-width: 610px){
          font-size: 1em;
        }
        
         @media screen and (max-width: 480px){
           float: none;
           width: 100%;
           font-size: 1em;
           margin-bottom: 10px;
        }
        
        span:first-of-type{
          font-size: 0.35em;
          vertical-align: top;
          letter-spacing: 0.15em;
           @media screen and (max-width: 1068px){
           font-size: 0.3em;
          }
        }
        span:last-of-type{
          vertical-align: bottom;
          font-size: 0.30em;
          letter-spacing: 0.04em;
          padding-left: 0.2em;
           @media screen and (max-width: 1068px){
           font-size: 0.25em;
          }
        }
      }
      
      &__options{
        list-style: none;
        padding: 15px;
        font-size: 0.9em;
        border-bottom: 2px solid #ebedec;
        
         @media screen and (max-width: 1068px){
           font-size: 0.85em;
        }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          margin-right: 10%;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.7em;
           margin-right: 8%;
        }
        
        @media screen and (max-width: 480px){
          font-size: 1.3em;
           margin-right: none;
          margin-bottom: 10px;
        }
        
        
        
        &>li{
          padding: 8px 0px;       
          
           @media screen and (max-width: 767px){
               text-align: left;    
            }
          
           @media screen and (max-width: 610px){
            padding: 5px 0;
          }
          
           @media screen and (max-width: 480px){
             text-align: center;
          }
          
          &:before{
            content: '✓';
            display: inline-block;
            margin-right: 15px;
            color: white;
            background-color: #74ce6a;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            font-size: 0.8em;
            padding: 2px;
            text-align: center;
            
             @media screen and (max-width: 1068px){
               width: 14px;
               height: 14px;
               padding: 1.5px;
            }
            
            @media screen and (max-width: 767px){
               width: 12px;
               height: 12px;
            }
            
          }
        }
      }
      
      &__getstart{
        color: white;
        background-color: #037e8a;
        margin-top: 30px;
        border-radius: 5px;
        cursor: pointer;
        padding: 15px;
        box-shadow: 0px 3px 0px 0px rgba(0, 187, 204, 1);
        letter-spacing: 0.07em;
        transition: all 0.4s ease;
        
         @media screen and (max-width: 1068px){
           font-size: 0.95em;
        }
        
        @media screen and (max-width: 767px){
          margin-top: 0;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.9em;
           padding: 10px;
        }
        
        @media screen and (max-width: 480px){
          font-size: 1em;
           width: 50%;
          margin: 10px auto;
        }
        
        &:hover{
          transform: translateY(-10px);
          box-shadow: 0px 40px 29px -19px rgba(0, 187, 204, 0.9);
          @media screen and (max-width: 767px){
            transform: none;
            box-shadow: none;
          }
        }
        
        &:active{
          box-shadow: inset 0 0 10px 1px rgba(0, 187, 204, 1), 0px 40px 29px -19px rgba(0, 187, 204, 0.95);
          transform: scale(0.95) translateY(-9px);
          @media screen and (max-width: 767px){
            transform: scale(0.95) translateY(0);
            box-shadow:  none;
          }
        }
      }
    }
    
   
  }
}



//For finance
//Special Table CSS-------------------------------------------------
$h1color: #6e768d;
$h3color: #b4bdc6;
$widthoftable: 100%;
$bgctables: #f0f4f7;
$bgfontcolor: #717787;

.gobizfinsup1Table{
  margin: 40px auto;
  
  &-firstTable{
    list-style: none;
    //padding-left: 2em;
    //padding-right: 2em;
    text-align: center;
    
    &_table{
      vertical-align: top;
      width: $widthoftable;
      background-color: $bgctables;
      display: inline-block;
      padding: 0px 10px 20px;
      text-align: center;
      max-width: 100%;
      transition: all 0.3s ease;
      border-radius: 5px;
      
      @media screen and (max-width: 767px){
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
      }
      
      & > * {
         @media screen and (max-width: 767px){
           display: inline-block;
           vertical-align: middle;
        }
        
         @media screen and (max-width: 480px){
          display: block;
           float: none;
        }
      }
      
      &:after {
         @media screen and (max-width: 767px){
           display: table;
           content: '';
           clear: both;
        }
      }
      
      &:hover{
        transform: scale(1.08);
        @media screen and (max-width: 767px){
          transform: none;
        }
      }
      
      &:not(:last-of-type){
        margin-right: (100%-$widthoftable*3)/2;
         @media screen and (max-width: 767px){
           margin-right: auto;
         }
      }

      &:nth-of-type(1){
        position: relative;
        
        & h1{
          @media screen and (max-width: 767px){
            padding-top: 8%;
          }
        }
        
        &:before{
          position: absolute;
          color: white;
          display: block;
          background-color: #037e8a;
          text-align: center;
          right: 15px;
          top: -55px;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          box-sizing: border-box;
          font-size: 0.5em;
          padding-top: 22px;
          text-transform: uppercase;
          letter-spacing: 0.13em;
          transition: all 0.5s ease;
          
          @media screen and (max-width: 988px){
             content: 'Auto';
             font-size: 0.5em;
          }
          
          @media screen and (max-width: 767px){
            content: 'Auto';
            left: 10px;
            width: 55px;
            height: 55px;
            top: -10px;
            padding-top: 13px;
            font-size: 0.5em;
          }
          
          @media screen and (max-width: 480px){
            content: 'Auto';
            font-size: 0.5em;
          }
          
        }
        &:hover:before{
           transform: rotate(360deg);
        }
      }
      
      &__header{
        font-size: 1.6em;
        padding: 40px 0px;
        border-bottom: 2px solid #ebedec;
        letter-spacing: 0.03em;
        
        @media screen and (max-width: 1068px){
           font-size: 1em;
        }
         @media screen and (max-width: 767px){
            padding: 0px;
            border-bottom: none;
            float: left;
            width: 33%;
           padding-top: 3%;
           padding-bottom: 2%;
        }
        
        @media screen and (max-width: 610px){
          font-size: 1em;
        }
        
        @media screen and (max-width: 480px){
           float: none;
           width: 100%;
          font-size: 1em;
          margin-bottom: 5px;
        }
        
      }
      
      &__gobizfinsup1{
        font-size: 1em;
        padding: 30px 0px;
        border-bottom: 2px solid #ebedec;
        line-height: 0.7;
        
         @media screen and (max-width: 1068px){
           font-size: 1em;
        }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          float: left;
          clear: left;
          width: 33%; 
        }
        
         @media screen and (max-width: 610px){
          font-size: 1em;
        }
        
         @media screen and (max-width: 480px){
           float: none;
           width: 100%;
           font-size: 1em;
           margin-bottom: 10px;
        }
        
        span:first-of-type{
          font-size: 0.35em;
          vertical-align: top;
          letter-spacing: 0.15em;
           @media screen and (max-width: 1068px){
           font-size: 0.3em;
          }
        }
        span:last-of-type{
          vertical-align: bottom;
          font-size: 0.30em;
          letter-spacing: 0.04em;
          padding-left: 0.2em;
           @media screen and (max-width: 1068px){
           font-size: 0.25em;
          }
        }
      }
      
      &__options{
        list-style: none;
        //padding: 15px;
        font-size: 0.9em;
        border-bottom: 2px solid #ebedec;
        text-align: left;
        
        @media screen and (max-width: 1068px){
           font-size: 0.85em;
           text-align: left;
          }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          margin-right: 10%;
          text-align: left;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.7em;
           margin-right: 8%;
           text-align: left;
          }
        
        @media screen and (max-width: 480px){
          font-size: 1.3em;
           margin-right: none;
          margin-bottom: 10px;
          text-align: left;
        }
        
        &>li{
          padding: 8px 0px;       
          marker: none;
          
           @media screen and (max-width: 767px){
               text-align: left;    
            }
          
           @media screen and (max-width: 610px){
            padding: 5px 0;
            text-align: left;
          }
          
           @media screen and (max-width: 480px){
             text-align: left;
          }

          &:before{
            //content: '✓';
            display: inline-block;
            margin-right: 15px;
            color: white;
            background-color: #74ce6a;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            font-size: 0.8em;
            padding: 2px;
            text-align: center;
            
             @media screen and (max-width: 1068px){
               width: 14px;
               height: 14px;
               padding: 1.5px;
            }
            
            @media screen and (max-width: 767px){
               width: 12px;
               height: 12px;
            }
            
          }
        }
      }
      
      &__getstart{
        color: white;
        background-color: #037e8a;
        margin-top: 30px;
        border-radius: 5px;
        cursor: pointer;
        padding: 15px;
        box-shadow: 0px 3px 0px 0px rgba(0, 187, 204, 1);
        letter-spacing: 0.07em;
        transition: all 0.4s ease;
        text-align: center;
        
         @media screen and (max-width: 1068px){
           font-size: 0.95em;
        }
        
        @media screen and (max-width: 767px){
          margin-top: 0;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.9em;
           padding: 10px;
        }
        
        @media screen and (max-width: 480px){
          font-size: 1em;
           width: 50%;
          margin: 10px auto;
        }
        
        &:hover{
          transform: translateY(-10px);
          box-shadow: 0px 40px 29px -19px rgba(0, 187, 204, 0.9);
          @media screen and (max-width: 767px){
            transform: none;
            box-shadow: none;
          }
        }
        
        &:active{
          box-shadow: inset 0 0 10px 1px rgba(0, 187, 204, 1), 0px 40px 29px -19px rgba(0, 187, 204, 0.95);
          transform: scale(0.95) translateY(-9px);
          @media screen and (max-width: 767px){
            transform: scale(0.95) translateY(0);
            box-shadow:  none;
          }
        }
      }
    }
    
   
  }
}




//Special Table CSS-------------------------------------------------
$h1color: #6e768d;
$h3color: #b4bdc6;
$widthoftable: 100%;
$bgctables: #f0f4f7;
$bgfontcolor: #717787;

.gobizfinapplyTable{
  margin: 40px auto;
  
  &-firstTable{
    list-style: none;
    //padding-left: 2em;
    //padding-right: 2em;
    text-align: center;
    
    &_table{
      vertical-align: top;
      width: $widthoftable;
      background-color: $bgctables;
      display: inline-block;
      padding: 0px 10px 20px;
      text-align: center;
      max-width: 100%;
      transition: all 0.3s ease;
      border-radius: 5px;
      
      @media screen and (max-width: 767px){
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
      }
      
      & > * {
         @media screen and (max-width: 767px){
           display: inline-block;
           vertical-align: middle;
        }
        
         @media screen and (max-width: 480px){
          display: block;
           float: none;
        }
      }
      
      &:after {
         @media screen and (max-width: 767px){
           display: table;
           content: '';
           clear: both;
        }
      }
      
      &:hover{
        transform: scale(1.08);
        @media screen and (max-width: 767px){
          transform: none;
        }
      }
      
      &:not(:last-of-type){
        margin-right: (100%-$widthoftable*3)/2;
         @media screen and (max-width: 767px){
           margin-right: auto;
         }
      }

      &:nth-of-type(1){
        position: relative;
        
        & h1{
          @media screen and (max-width: 767px){
            padding-top: 8%;
          }
        }
        
        &:before{
          content: 'Require Application';
          position: absolute;
          color: white;
          display: block;
          background-color: #037e8a;
          text-align: center;
          right: 15px;
          top: -55px;
          height: 110px;
          width: 110px;
          border-radius: 50%;
          box-sizing: border-box;
          font-size: 0.5em;
          padding-top: 22px;
          text-transform: uppercase;
          letter-spacing: 0.13em;
          transition: all 0.5s ease;
          
          @media screen and (max-width: 988px){
             content: 'Apply';
             font-size: 0.5em;
          }
          
          @media screen and (max-width: 767px){
            content: 'Apply';
            left: 10px;
            width: 55px;
            height: 55px;
            top: -10px;
            padding-top: 13px;
            font-size: 0.5em;
          }
          
          @media screen and (max-width: 480px){
            content: 'Apply';
            font-size: 0.5em;
          }
          
        }
        &:hover:before{
           transform: rotate(360deg);
        }
      }
      
      &__header{
        font-size: 1.6em;
        padding: 40px 0px;
        border-bottom: 2px solid #ebedec;
        letter-spacing: 0.03em;
        
        @media screen and (max-width: 1068px){
           font-size: 1em;
        }
         @media screen and (max-width: 767px){
            padding: 0px;
            border-bottom: none;
            float: left;
            width: 33%;
           padding-top: 3%;
           padding-bottom: 2%;
        }
        
        @media screen and (max-width: 610px){
          font-size: 1em;
        }
        
        @media screen and (max-width: 480px){
           float: none;
           width: 100%;
          font-size: 1em;
          margin-bottom: 5px;
        }
        
      }
      
      &__gobizfinapply{
        font-size: 1em;
        padding: 30px 0px;
        border-bottom: 2px solid #ebedec;
        line-height: 0.7;
        
         @media screen and (max-width: 1068px){
           font-size: 1em;
        }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          float: left;
          clear: left;
          width: 33%; 
        }
        
         @media screen and (max-width: 610px){
          font-size: 1em;
        }
        
         @media screen and (max-width: 480px){
           float: none;
           width: 100%;
           font-size: 1em;
           margin-bottom: 10px;
        }
        
        span:first-of-type{
          font-size: 0.35em;
          vertical-align: top;
          letter-spacing: 0.15em;
           @media screen and (max-width: 1068px){
           font-size: 0.3em;
          }
        }
        span:last-of-type{
          vertical-align: bottom;
          font-size: 0.30em;
          letter-spacing: 0.04em;
          padding-left: 0.2em;
           @media screen and (max-width: 1068px){
           font-size: 0.25em;
          }
        }
      }
      
      &__options{
        list-style: none;
        //padding: 15px;
        font-size: 0.9em;
        border-bottom: 2px solid #ebedec;
        text-align: left;
        
        @media screen and (max-width: 1068px){
           font-size: 0.85em;
           text-align: left;
          }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          margin-right: 10%;
          text-align: left;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.7em;
           margin-right: 8%;
           text-align: left;
          }
        
        @media screen and (max-width: 480px){
          font-size: 1.3em;
           margin-right: none;
          margin-bottom: 10px;
          text-align: left;
        }
        
        &>li{
          padding: 8px 0px;       
          marker: none;
          
           @media screen and (max-width: 767px){
               text-align: left;    
            }
          
           @media screen and (max-width: 610px){
            padding: 5px 0;
            text-align: left;
          }
          
           @media screen and (max-width: 480px){
             text-align: left;
          }

          &:before{
            //content: '✓';
            display: inline-block;
            margin-right: 15px;
            color: white;
            background-color: #74ce6a;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            font-size: 0.8em;
            padding: 2px;
            text-align: center;
            
             @media screen and (max-width: 1068px){
               width: 14px;
               height: 14px;
               padding: 1.5px;
            }
            
            @media screen and (max-width: 767px){
               width: 12px;
               height: 12px;
            }
            
          }
        }
      }
      
      &__getstart{
        color: white;
        background-color: #037e8a;
        margin-top: 30px;
        border-radius: 5px;
        cursor: pointer;
        padding: 15px;
        box-shadow: 0px 3px 0px 0px rgba(0, 187, 204, 1);
        letter-spacing: 0.07em;
        transition: all 0.4s ease;
        text-align: center;
        
         @media screen and (max-width: 1068px){
           font-size: 0.95em;
        }
        
        @media screen and (max-width: 767px){
          margin-top: 0;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.9em;
           padding: 10px;
        }
        
        @media screen and (max-width: 480px){
          font-size: 1em;
           width: 50%;
          margin: 10px auto;
        }
        
        &:hover{
          transform: translateY(-10px);
          box-shadow: 0px 40px 29px -19px rgba(0, 187, 204, 0.9);
          @media screen and (max-width: 767px){
            transform: none;
            box-shadow: none;
          }
        }
        
        &:active{
          box-shadow: inset 0 0 10px 1px rgba(0, 187, 204, 1), 0px 40px 29px -19px rgba(0, 187, 204, 0.95);
          transform: scale(0.95) translateY(-9px);
          @media screen and (max-width: 767px){
            transform: scale(0.95) translateY(0);
            box-shadow:  none;
          }
        }
      }
    }
    
   
  }
}