<style>
[class*="campaigncard"] {
  font-family: hknova-regular;
}

.campaigncard__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #dbdfe4;
  border-radius: 5px;
  padding: 24px;
  max-width: 1140px;
  margin: auto;
  font-family: 'HK Nova';
}

.campaigncard__contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .campaigncard__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .campaigncard__contents {
    flex-direction: column;
    align-items: flex-start;
  }
}

.campaigncard__img {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.campaigncard__img img {
  width: 100%;
}

.campaigncard__text {
  max-width: 640px;
}

.campaigncard__title {
  font-family: hknova-semibold;
  color: #037e8a;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 8px;
}

.campaigncard__body {
  font-family: hknova-regular;
  color: #313840;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.primary-btn {
    font-family: hknova-semibold;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px 24px;
    border: 1px solid #037e8a;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #037e8a;
    font-size: 18px;
    line-height: 27px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    cursor: pointer;
  text-align: center;
}

.campaigncard__CTA {
  margin-top: 16px;
}

.campaigncard__CTA .secondary-btn {
    font-family: hknova-semibold;
    font-weight: 600;
    text-decoration: none;
    color: #037E8A;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px 24px;
    border: 1px solid #B3D8DC;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #F4F8F8;
    font-size: 18px;
    line-height: 27px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 24px 0 auto;
    cursor: pointer;
  text-align: center;
}

.secondary-btn img {
  height: 16px;
  margin-right: 12px;
}

</style>
<div class="campaigncard__container">
  <div class="campaigncard__contents">
    <div class="campaigncard__img">
      <img src="/images/survey.png" alt="">
    </div>
    <div class="campaigncard__text">
      <h4 class="campaigncard__title">Was this information useful?</h4>
      <div class="campaigncard__CTA">
        <a class="secondary-btn" href="#" target="_blank">
          <img src="https://www.svgrepo.com/show/1217/thumbs-up.svg">Yes</a>
        <a class="secondary-btn" href="#" target="_blank">
          <img src="https://www.svgrepo.com/show/1217/thumbs-up.svg">No</a>
      </div>
    </div>
  </div>
</div>