<style>
[class*="campaigncard"] {
  font-family: hknova-regular;
}

.campaigncard__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #dbdfe4;
  border-radius: 5px;
  padding: 24px;
  max-width: 1140px;
  margin: auto;
  font-family: 'HK Nova';
}

.campaigncard__contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .campaigncard__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .campaigncard__contents {
    flex-direction: column;
    align-items: flex-start;
  }
}

.campaigncard__img {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.campaigncard__img img {
  width: 100%;
}

.campaigncard__text {
  max-width: 510px;
}

.campaigncard__title {
  font-family: hknova-semibold;
  color: #037e8a;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 8px;
}

.campaigncard__body {
  color: #313840;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 0 0;
}


</style>
<div class="campaigncard__container">
  <div class="campaigncard__contents">
    <div class="campaigncard__img">
      <img src="/images/grow/psg/feedback.png">
    </div>
    <div class="campaigncard__text">
      <div class="campaigncard__title">Help us improve our e-Adviser</div>
      <div class="campaigncard__body">Take a survey to help us improve the user experience for checking premises use. This will take 5 - 7 minutes.
      </div>
    </div>
  </div>
  <div class="campaigncard__CTA">
    {% include primary-btn.html href="https://go.gov.sg/puc-survey-oct23" text="Start" target="_blank" %}
  </div>
</div>