<style>
  .blogCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03),
      0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
    border-radius: 5px;
    margin-right: 24px;
    max-width: 800px;
  }

  .blogCard__image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .blogCard__readMoreLink {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 16px;
    font-family: hknova-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2a6ebb;
    text-decoration: none;
  }

  .blogCard__tagContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    width: 134px;
    height: 22px;
    background: #e6f2f3;
    border-radius: 3px;

    font-family: hknova-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #02737d;
  }

  .blogCard__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
  }

  .blogCard__text--bottom {
    font-family: hknova-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    margin-top: 16px;
    max-height: 72px;
    /* max-width: 364px;
        white-space: nowrap; */
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blogCard__text--top {
    font-family: hknova-regular;
    font-style: --semi-bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #313840;
    margin-top: 16px;
  }

  @media screen and (max-width: 768px) {
    .blogCard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px;
      background: #ffffff;
      box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03),
        0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
      border-radius: 5px;
      margin-right: 0px;
    }
  }
</style>

<div class="blogCardContainer">
  {% for post in include.blogPostData limit: include.limit %}
  <div class="blogCard">
    <div class="blogCard__imageWrapper">
      <img class="blogCard__image" src="{{post.image}}" alt="{{post.alt}}" />
    </div>
    <div class="blogCard__body">
      <div class="blogCard__tagContainer">
        {{post.tag}}
      </div>
      <div class="blogCard__text">
        <div class="blogCard__text--top">{{post.title}}</div>
        <div class="blogCard__text--bottom">{{post.body}}</div>
      </div>

      <a href="#" class="blogCard__readMoreLink">Read more</a>
    </div>
  </div>
  {% endfor %}
</div>