<style>
  .content-btn {
    font-family: hknova-regular;
    padding: 0;
    background-color: #037e8a;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #037e8a;
    cursor: pointer;
    width: fit-content;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  .content-btn:hover {
    background-color: #026770;
  }

  .content-btn:active {
    background-color: #025B63;
  }

  .content-btn:focus {
    outline: 2px solid #1C8B95;
  }

  .content-btn>a,
  .content-btn>a:hover,
  .content-btn>a:visited,
  .content-btn>a:visited:hover {
    display: block;
    padding: 12.5px 24px;
    margin-bottom: 0;
    text-decoration: none;
    color: white;
  }
</style>

<button class="content-btn">
  <a href="{{ include.src }}" target="_blank">
    {{ include.text }}
  </a>
</button>