<style>
div#webchat #webchat-container > div:first-child {
    height: 55px;
    width: 55px;
    bottom: 10px;
    right: 10px;
    box-shadow:
        rgba(0, 0, 0, 0.06) 0 1px 6px 0,
        rgba(0, 0, 0, 0.16) 0 2px 32px 0;
    border-radius: 50%;
}

div#webchat img[alt="Bot Launcher"] {
    height: 55px;
    width: 55px;
}

div#webchat img[alt="Bot Launcher"]:hover {
    opacity: 0;
}

img#webchat-hover {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 55px;
    width: 55px;
}
</style>
<div
    id="webchat"
    app-id="gt-ask-gobiz"
    app-name="Ask GoBiz"
    app-color="#037e8a"
    app-foreground-color1="white"
    app-background-color2="white"
    app-foreground-color-2="#2e2e2e"
    app-canvas-background-color="#dcdcdc"
    app-button-border-color="#b3d8dc"
    app-quick-reply-button-background-color="#fafdfd"
    app-font-family="hknova-regular"
    app-base-font-size="14"
    app-auto-launch="false"
    app-quick-launch-event="welcome"
    app-bot-response-trigger-event="false"
    app-icon="https://www.gobusiness.gov.sg/images/VICA-55px-default.svg"
    app-subtitle="Chat with us"
    role="region"
    aria-label="chatbot"
></div>
<img
    id="webchat-hover"
    src="https://www.gobusiness.gov.sg/images/VICA-55px-hover.svg"
    alt="vica-hover"
/>
<script
    type="text/javascript" 
    src="https://webchat.vica.gov.sg/static/js/chat.js" 
    referrerpolicy="origin"
></script>
<script src="https://unpkg.com/@gobusinessgovsg/generateloginbutton@1.0.0/index.js" defer></script>
