<div
    id="webchat"
    app-id="gt-ask-gobiz"
    app-name="Ask GoBiz"
    app-color="#037e8a"
    app-foreground-color1="white"
    app-background-color2="white"
    app-foreground-color-2="#2e2e2e"
    app-canvas-background-color="#dcdcdc"
    app-button-border-color="#b3d8dc"
    app-quick-reply-button-background-color="#fafdfd"
    app-font-family="hknova-regular"
    app-base-font-size="14"
    app-auto-launch="false"
    app-quick-launch-event="welcome"
    app-bot-response-trigger-event="false"
    app-icon="https://www.gobusiness.gov.sg/images/VICA-avatar-210px.png" 
    app-subtitle="Chat with us"
    role="chatbot"
></div>
<script
    type="text/javascript" 
    src="https://webchat.vica.gov.sg/static/js/chat.js" 
    referrerpolicy="origin"
></script>
<script defer>
  window.onload = () => {
    const loginContainer = document.querySelector('.login-container');
    const loginButton = document.createElement('a');
    const burgerButton = document.querySelector('.navbar-burger.burger');
    const navBar = document.querySelector('.navbar-brand');

    loginButton.classList.add('login-btn');
    loginButton.href = '/login/?src=top_nav';

    const generateLoginButton = () => {
      switch(true) {
        case window.innerWidth >= 1280:
          loginContainer.appendChild(loginButton);
          return;
        case window.innerWidth < 1280 && window.innerWidth >= 320:
          navBar.insertBefore(loginButton, burgerButton);
          return;
        default:
          return;
      }
    };
    generateLoginButton();

    window.onresize = generateLoginButton;
  }
</script>
