<style>
  [class*="goBizIntro"] {
    font-family: hknova-regular;
  }

  .goBizIntro__container {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    background-color: #e6f2f3;
  }

  .goBizIntro__container .goBizIntro__title h2 {
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 48px;
  }

  .goBizIntro__header {
    line-height: 45px;
    color: #037e8a;
    margin-bottom: 48px;
  }

  .goBizIntro__title {
    text-align: center;
  }

  .goBizIntro__contents {
    display: grid;
    grid-template-areas:
      "content-1"
      "content-2";
    grid-gap: 25px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .goBizIntro__media {
    grid-area: content-1;
    height: 100%;
  }

  .goBizIntro__media iframe {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 10px 20px #B3D8DC);
  }

  .goBizIntro__right-upper {
    grid-area: content-2;
  }

  .goBizIntro__bold {
    font-family: hknova-semibold;
    font-size: 18px;
    line-height: 27px;
    color: #313840;
  }

  .goBizIntro__normal {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 32px 0;
    color: #313840;
  }

  .goBizIntro__logoWrapper {
    padding: 0 24px;
    margin-top: 24px;
  }

  .goBizIntro__logo {
    width: 48px;
    height: 48px;
  }

  .goBizIntro__card {
    display: grid;
    background: #ffffff;
    box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03),
      0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
    border-radius: 5px;
    row-gap: 8px;
    grid-template-rows: 80px auto auto auto 64px;
    height: 100%;
  }

  .goBizIntro__card--title {
    font-family: hknova-semibold;
    font-size: 18px;
    line-height: 22px;
    color: #313840;
    padding: 0 24px;
  }

  .goBizIntro__card--body {
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    padding: 0 24px;
    margin: 16px 0;
  }

  .goBizIntro__card--line {
    border-bottom: 1px solid #dbdfe4;
  }

  .goBizIntro__card--button {
    font-size: 16px;
    line-height: 24px;
    color: #2a6ebb;
    padding: 0 24px;
    margin-top: 16px;
  }
  .goBizIntro__url{
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #2a6ebb;
  }

  @media screen and (min-width: 768px) {
    .goBizIntro__contents {
      display: grid;
      grid-template-areas:
        "content-1 content-2";
      row-gap: 25px;
      max-width: 1140px;
      margin: 0 auto;
      column-gap: 64px;
    }

    .goBizIntro__media iframe {
      height: 100%;
      width: 100%;
    }
  }
</style>
<div class="goBizIntro__container">
  <div class="goBizIntro__header">
    <div class="goBizIntro__title">
      <h2>GoBusiness connects businesses to <br>the right government services</h2>
    </div>
    <div class="goBizIntro__contents">
      <div class="goBizIntro__media">
        <iframe
          src="https://www.youtube.com/embed/xJ5D8FuUjaw"
          title="Go Simpler, Go Further: GoBusiness"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="goBizIntro__right-upper">
        <div class="goBizIntro__bold">Guidance for local businesses</div>
        <div class="goBizIntro__normal">
          Official information for <a class="goBizIntro__url" href="/start-a-business/?src=home_about">starting a business,</a>
          <a class="goBizIntro__url" href="/run-and-grow/?src=home_about">growing its presence</a>, and navigating through
          <a class="goBizIntro__url" href="/covid/?src=home_about">Covid-19</a>
        </div>
        <div class="goBizIntro__bold">
          Find the right resources with e-Advisers and guides
        </div>
        <div class="goBizIntro__normal">
          Get recommendations for <a href="/licences/find-licence-by-sector/?src=home_about">licences</a>,
          <a href="/gobiz-guides/guide-for-organising-events/?src=home_about">events</a>, <a href="https://eadviser.gobusiness.gov.sg/govassist?src=home_about" target="_blank" rel="noopener">government assistance </a>,
          <a href="/e-services/guides-for-biz/?src=home_about"> and more</a>, tailored to your business needs.
        </div>
        <div class="goBizIntro__bold">
          Your business transactions in one place
        </div>
        <div class="goBizIntro__normal">
          Apply for licences, keep track of them, and more with your personal dashboard. <a class="goBizIntro__url" href="https://dashboard.gobusiness.gov.sg/login?src=home_about" target="_blank" rel="noopener">Log in</a> to try it!
        </div>
      </div>
    </div>
  </div>
</div>