<style>
  .content a.content-btn {
    font-family: hknova-semibold;
    font-weight: 600;
    display: block;
    padding: 12.5px 24px;
    margin-bottom: 0;
    text-decoration: none;
    color: white;
    background-color: #037e8a;
    border-radius: 3px;
    border: 1px solid #037e8a;
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 18px;
    line-height: 27px;
  }

  .content a.content-btn:hover {
    color: white;
    background-color: #026770;
  }

  .content a.content-btn:active {
    color: white;
    background-color: #025B63;
  }

  .content a.content-btn:focus {
    color: white;
    outline: 2px solid #1C8B95;
  }
  /* Mobile view style, hide button */
    @media (max-width: 767px) {
      .content a.content-btn {
        display: none;
      }
  }

  /*Mobile panel stuff*/

  .mobilecontent .mobilepanels {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      margin: 24px 0;
  }

  .mobilecontent .mobilepanels {
      display: grid;
      row-gap: 16px;
      background-color: #F9FAFA;
      border: 1px solid #EEF0F2;
      box-shadow: 0 0 0 rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
      border-radius: 5px;
      padding: 24px;
      word-break: break-word;
      grid-auto-rows: auto;
  }

  .mobilecontent .mobilepanels .mobilepanels-image {
      font-family: hknova-semibold;
      font-size: 24px;
      font-weight: 700;
      width: auto;
      height: 60px;
  }

  .mobilecontent .mobilepanels .mobilepanels-image>img {
      width: auto;
      height: 100%;
      margin: 0;
  }

  .mobilecontent .mobilepanels .mobilepanels-title {
      font-family: hknova-semibold;
      margin: 0;
  }

  .mobilecontent .mobilepanels .mobilepanels-description,
  .mobilecontent [class*="mobilepanels-"]>div {
      font-family: hknova-regular;
      margin: 0;
  }

  .mobilecontent .mobilepanels .mobilepanels-links-container {
      display: grid;
      row-gap: 8px;
      height: fit-content;
      align-self: end;
  }

  .mobilecontent .mobilepanels .mobilepanels-link {
      font-size: 18px;
      line-height: 27px;
      display: block;
      margin: 0;
  }

  /* Desktop view style, hide mobilepanels */
  @media (min-width: 768px) {
      .mobilecontent .mobilepanels {
        display: none;
      }
  }
</style>

<a class="content-btn" href="{{ include.src }}" target="_blank" rel="noopener">
  {{ include.text }}
</a>


