<style>
:root {
  --brand: #037E8A;
  accent-color: var(--brand);
}

#mc_embed_signup {font-family:'HK Nova', Helvetica, Arial, sans-serif; color:#313840; font-size:14px; line-height:20px;}
#mc_embed_signup form {display:block; position:relative; text-align:left; margin: 20px}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:32px; min-height:50px; display:grid;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}

#mc_embed_signup h2 {margin-bottom: 40px; font-weight: 600; font-size: 28px; line-height: 35px;}
#mc_embed_signup .intro {margin-bottom: 40px;}

/* form field */
#mc_embed_signup span.optional {font-weight: 400; color: #647283;}
#mc_embed_signup input {border: 1px solid #DBDFE4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom: 4px; font-weight: 500; line-height: 20px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding: 14px 16px 14px 16px; text-indent: 0; font-size: 14px; font-weight: 400; font-family: 'HK Nova'; color: #313840;}

#mc_embed_signup input:focus-visible {border-color:#037E8A; outline-offset: 4px; outline-color:#037E8A; outline-style:solid;}
#mc_embed_signup input:hover {border-color:#647283;}

/* dropdown */
#mc_embed_signup select {border: 1px solid #DBDFE4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:100%; padding: 14px 16px 14px 16px; text-indent: 0; font-size: 14px; font-weight: 400; font-family: 'HK Nova'; color: #313840;}

#mc_embed_signup select:focus-visible {border-color:#037E8A; outline-offset: 4px; outline-color:#037E8A; outline-style:solid;}
#mc_embed_signup select:hover {border-color:#647283;}

/* radio and checkbox */
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox; margin:0;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio; margin:0;}
#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:12px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline-block; font-weight:400; position:relative; top:3px; padding-left:4px;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}
div.mc-field-group.input-group strong {font-weight: 500;}

/* button */
#mc_embed_signup .button {clear:both; background-color: #037E8A; border: 0 none; border-radius:3px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-family: 'HK Nova'; font-size:16px; font-weight: 600; height: 48px; line-height: 24px; margin: 0 5px 10px 0; padding: 12px 24px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: fit-content; width: -moz-fit-content;}

#mc_embed_signup .button:hover {background-color:#026770;}
#mc_embed_signup .button:focus-visible {outline-offset: 4px;}

/* inline errors */
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 0 0; padding:3px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:12px; line-height:15px; font-weight:normal; z-index:1; color:#DC3545;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:1px solid #DC3545;}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}     
#mc_embed_signup .clear {clear:both;}
#mc_embed_signup .foot {display:grid; grid-template-columns: 3fr 1fr; width:96%; align-items: center;}
@media screen and (max-width:400px) {#mc_embed_signup .foot {display:grid; grid-template-columns: 1fr; width:100%; align-items: center;}}

@media screen and (max-width:400px) {#mc_embed_signup .referralBadge {width:50%;}}

#mc_embed_signup .brandingLogo {justify-self:right;}
@media screen and (max-width:400px) {#mc_embed_signup .brandingLogo {justify-self:left;}}

/* error messages */
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
#mc_embed_signup .helper_text {color: #8d8985; margin-top: 0px; display: inline-block; padding: 2px; background-color: rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; font-weight: normal; z-index: 1;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}
</style>

        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://gobusiness.us16.list-manage.com/subscribe/post?u=9326ff42459737140a6baa881&amp;id=5ea5c2d79a&amp;f_id=008cc2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
              <div id="mc_embed_signup_scroll">
              <h2>GoBusiness Mailing List</h2>
                <div class="intro">          
                  <p>Subscribe to be the first to get updates on new features, important news and announcements, and more.</p>
                  <p>You can unsubscribe at any time.</p>
                </div>
      </p>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email
      </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">Name
      </label>
        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group input-group">
          <strong>I am a...
      </strong>
          <ul><li>
          <input type="radio" value="Company Founder / Director" name="JOBROLE" id="mce-JOBROLE-0" style="width:20px; vertical-align:middle; height:20px;">
          <label for="mce-JOBROLE-0">Company Founder / Director</label>
      </li>
      <li>
          <input type="radio" value="Company employeee" name="JOBROLE" id="mce-JOBROLE-1" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-JOBROLE-1">Company employeee</label>
      </li>
      <li>
          <input type="radio" value="Aspiring entrepreneur" name="JOBROLE" id="mce-JOBROLE-2" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-JOBROLE-2">Aspiring entrepreneur</label>
      </li>
      </ul>
          <span id="mce-JOBROLE-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-INDUSTRY">Industry
      </label>
        <select name="INDUSTRY" class="required" id="mce-INDUSTRY" required>
        <option value=""></option>
        <option value="Aerospace">Aerospace</option>
      <option value="Agriculture">Agriculture</option>
      <option value="Air Transport">Air Transport</option>
      <option value="Arts and Culture">Arts and Culture</option>
      <option value="Building and Construction">Building and Construction</option>
      <option value="Dormitory Services">Dormitory Services</option>
      <option value="Education">Education</option>
      <option value="Employment and Administrative Services">Employment and Administrative Services</option>
      <option value="Energy">Energy</option>
      <option value="Environmental Services">Environmental Services</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Food and Beverages">Food and Beverages</option>
      <option value="Forestry">Forestry</option>
      <option value="Healthcare">Healthcare</option>
      <option value="IT">IT</option>
      <option value="Land Transport">Land Transport</option>
      <option value="Landscape">Landscape</option>
      <option value="Logistics">Logistics</option>
      <option value="Manufacturing and Engineering">Manufacturing and Engineering</option>
      <option value="Maritime">Maritime</option>
      <option value="Media">Media</option>
      <option value="Membership Services">Membership Services</option>
      <option value="Mining and Quarrying">Mining and Quarrying</option>
      <option value="Oil and Gas">Oil and Gas</option>
      <option value="Professional Services">Professional Services</option>
      <option value="Real Estate">Real Estate</option>
      <option value="Retail">Retail</option>
      <option value="Security">Security</option>
      <option value="Services">Services</option>
      <option value="Social Services">Social Services</option>
      <option value="Sports and Recreation">Sports and Recreation</option>
      <option value="Telecommunications">Telecommunications</option>
      <option value="Tourism">Tourism</option>
      <option value="Wholesale Trade">Wholesale Trade</option>
      <option value="Others">Others</option>
      
        </select>
        <span id="mce-INDUSTRY-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-BIZNAME">Company Name <span class="optional">(Optional)</span> </label>
        <input type="text" value="" name="BIZNAME" class="" id="mce-BIZNAME">
        <span id="mce-BIZNAME-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group input-group">
        <strong>Company Size <span class="optional">(Optional)</span> </strong>
          <ul><li>
          <input type="radio" value="&lt;10" name="BIZSIZE" id="mce-BIZSIZE-0" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-BIZSIZE-0">&lt;10</label>
      </li>
      <li>
          <input type="radio" value="11 - 100" name="BIZSIZE" id="mce-BIZSIZE-1" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-BIZSIZE-1">11 - 100</label>
      </li>
      <li>
          <input type="radio" value="101 - 500" name="BIZSIZE" id="mce-BIZSIZE-2" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-BIZSIZE-2">101 - 500</label>
      </li>
      <li>
          <input type="radio" value="501 - 1000" name="BIZSIZE" id="mce-BIZSIZE-3" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-BIZSIZE-3">501 - 1000</label>
      </li>
      <li>
          <input type="radio" value="&gt;1000" name="BIZSIZE" id="mce-BIZSIZE-4" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-BIZSIZE-4">&gt;1000</label>
      </li>
      </ul>
          <span id="mce-BIZSIZE-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group input-group">
        <strong>I am interested in... <span class="optional">(Optional)</span> </strong>
          <ul><li>
          <input type="checkbox" value="1" name="group[87][1]" id="mce-group[87]-87-0" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-group[87]-87-0">GoBusiness updates</label>
      </li>
      <li>
          <input type="checkbox" value="2" name="group[87][2]" id="mce-group[87]-87-1" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-group[87]-87-1">Government regulatory updates</label>
      </li>
      <li>
          <input type="checkbox" value="4" name="group[87][4]" id="mce-group[87]-87-2" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-group[87]-87-2">Business tips &amp; inspirations</label>
      </li>
      <li>
          <input type="checkbox" value="8" name="group[87][8]" id="mce-group[87]-87-3" style="width:20px; height:20px; vertical-align:middle;">
          <label for="mce-group[87]-87-3">Co-creation opportunities</label>
      </li>
      </ul>
          <span id="mce-group[87]-HELPERTEXT" class="helper_text"></span>
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9326ff42459737140a6baa881_5ea5c2d79a" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='JOBROLE';ftypes[2]='radio';fnames[3]='INDUSTRY';ftypes[3]='dropdown';fnames[5]='BIZNAME';ftypes[5]='text';fnames[4]='BIZSIZE';ftypes[4]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->