<nav class="navbar is-transparent">
  <div class="bp-container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="https://d33wubrfki0l68.cloudfront.net/8527e249225f90f6b92db72f17f30b1ac72d03cc/b8be7/images/gobiz_logo_sg.svg"
          alt="Homepage"
          style="
                      max-height: 75px;
                      max-width: 200px;
                      height: auto;
                      width: auto;
                    " />
      </a>
      <div
        class="navbar-burger burger"
        data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div
      id="navbarExampleTransparentExample"
      class="bp-container is-fluid margin--none navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item is-hidden-widescreen is-search-bar">
          <form action="/search/" method="get">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input
                  class="input is-fullwidth"
                  id="search-box-mobile"
                  type="text"
                  placeholder="What are you looking for?"
                  name="query" />
                <span class="is-large is-left">
                  <i class="sgds-icon sgds-icon-search search-bar"></i>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/start-a-business/" class="navbar-link is-uppercase">Start Business</a>
          <div class="navbar-dropdown">
            <a href="/start-a-business/" class="navbar-item sub-link">Overview</a>
            <a
              href="/start-a-business/choose-a-business-structure/"
              class="navbar-item sub-link">Key Steps to Start a Business</a>
            <a
              href="/start-a-business/hire-employees/"
              class="navbar-item sub-link">Next Steps to Consider</a>
            <a
              href="/start-a-business/faqs/"
              class="navbar-item sub-link">FAQs</a>
          </div>
          <div
            class="selector is-hidden-touch is-hidden-desktop-only"></div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/run-and-grow/" class="navbar-link is-uppercase">Run and Grow Business</a>
          <div class="navbar-dropdown">
            <a href="/run-and-grow/" class="navbar-item sub-link">Overview</a>
            <a href="/gov-assist/" class="navbar-item sub-link">Government Assistance</a>
            <a href="/business-grants/" class="navbar-item sub-link">Business Grants</a>
            <a href="/licences/" class="navbar-item sub-link">Licences and Permits</a>
            <a
              href="/run-and-grow/taxes-and-gst/"
              class="navbar-item sub-link">Taxes, GST & Customs</a>
            <a href="/gebiz-alerts/" class="navbar-item sub-link">GeBIZ Alerts</a>
          </div>
          <div
            class="selector is-hidden-touch is-hidden-desktop-only"></div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/covid/" class="navbar-link is-uppercase">Covid-19</a>
          <div class="navbar-dropdown">
            <a href="/covid/" class="navbar-item sub-link">Overview</a>
            <a href="/permittedlist/" class="navbar-item sub-link">Permitted Services</a>
            <a
              href="/safemanagement/general/"
              class="navbar-item sub-link">Safe Management Requirements</a>
            <a
              href="/safemanagement/sector/"
              class="navbar-item sub-link">Sector Specific Requirements</a>
            <a
              href="/safemanagement/safedigital/"
              class="navbar-item sub-link">Digital Solutions for Safe Management</a>
            <a href="/guides/" class="navbar-item sub-link">Guides</a>
            <a href="/supportschemes/immediateschemes/" class="navbar-item sub-link">Financial
              Support</a>
            <a href="/supportschemes/manpowersupport/" class="navbar-item sub-link">Manpower
              Support</a>
            <a href="/supportschemes/digitalsupport/" class="navbar-item sub-link">Digital
              Support</a>
            <a href="/supportschemes/fnbsupport/" class="navbar-item sub-link">Sector-Specific
              Support</a>
            <a href="/faq/general" class="navbar-item sub-link">FAQs</a>
          </div>
          <div
            class="selector is-hidden-touch is-hidden-desktop-only"></div>
        </div>
        <div class="navbar-item">
          <a
            href="/e-services/"
            class="navbar-item is-uppercase"
            style="height: 100%; width: 100%">E-Services</a>
          <div
            class="selector is-hidden-touch is-hidden-desktop-only"></div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/about-us/" class="navbar-link is-uppercase">Who We Are</a>
          <div class="navbar-dropdown">
            <a href="/about-us/" class="navbar-item sub-link">About Us</a>
            <a href="/news-and-media/" class="navbar-item sub-link">News and Media</a>
            <a href="/contact-us/" class="navbar-item sub-link">Contact Us</a>
            <a href="/faq/about/" class="navbar-item sub-link">FAQs</a>
          </div>
          <div
            class="selector is-hidden-touch is-hidden-desktop-only"></div>
        </div>
        <div class="navbar-item">
          <a href="#" class="navbar-item is-uppercase break-mobile"
            style="height:100%;width:100%;">Login</a>
          <div class="selector is-hidden-touch is-hidden-desktop-only"></div>
        </div>
      </div>

      <div class="navbar-end is-hidden-touch is-hidden-desktop-only">
        <div class="navbar-item">
          <a href="#"><button class="primary-btn">Log In</button></a>
        </div>
        <div class="navbar-item">
          <a
            class="bp-button is-text is-large"
            style="text-decoration: none"
            id="search-activate">
            <span class="sgds-icon sgds-icon-search is-size-4"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>