<style>
  #main-content .new-tag {
    background: #E6F2F3;
    border-radius: 3px;
    width: 53px;
    height: 22px;
    padding: 2px 8px;
    font-family: hknova-bold;
    font-size: 12px;
    line-height: 18px;
    color: #02737D;
    display: inline-block;
    vertical-align: middle;
  }

  #status-border{
    background: #E6F2F3;
    border-radius: 3px;
    width: auto;
    height: 24px;
    padding: 2px 8px;
    font-family: hknova-bold;
    font-size: 16px;
    line-height: 24px;
    color: #02737D;
    display: inline-block;
    vertical-align: middle;
  }
  .teal{
    color: #02737D;
    background-color: #E6F2F3;
  }
  .blue{
    color: #0863CC;
    background-color: #E6F1FC;
  }
  .orange{
    color: #AB5916;
    background-color: #FEF2E9;
  }
  .green{
    color: #1C7530;
    background-color: #EAF6EC;
  }
  .red{
    color: #C6303E;
    background-color: #FCEBEC;
  }
  .grey{
    color: #4A5561;
    background-color: #EEF0F2;
  }

</style>

<div class="new-tag">
  NEW!
</div>
