<style>
  .nnu__title {
    grid-area: header;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #037e8a;
  }

  .nnu__banner {
    grid-area: banner;
  }

  .nnu__banner img {
    max-width: 100%;
    max-height: 204px;
  }

  .nnu__content--1 {
    grid-area: nnu__post--excerpt;
  }

  .nnu__content--2 {
    grid-area: nnu__content--2;
  }

  .nnu__content--3 {
    grid-area: nnu__content--3;
  }

  .nnuContainer {
    display: grid;
    grid-template-areas:
      "header header"
      "banner nnu__content--2"
      "banner nnu__content--2"
      "nnu__post--excerpt nnu__content--3"
      "nnu__post--excerpt nnu__content--3"
      "nnu__post--excerpt button";
    grid-gap: 32px;
    padding: 64px 150px;
  }

  .nnu__post--title {
    font-family: hknova-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #313840;
    margin-top: 16px;
  }

  .nnu__post--tag {
    font-family: hknova-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #647283;
  }

  .nnu__post--excerpt,
  .nnu__post--excerpt>* {
    font-family: hknova-regular !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #313840 !important;
    margin-top: 16px !important;
  }

  .nnu__post--footer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
  }

  .nnu__date {
    font-family: hknova-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #647283;
  }

  .nnu__readMoreLink {
    font-family: hknova-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
    text-decoration-nnu_divider: undernnu_divider;
    color: #2a6ebb;
  }

  .nnu__post--title2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 16px;
    color: #313840;
  }

  .nnu_divider {
    margin: 24px 0 12px 0;
    border: 1px solid #dbdfe4;
  }

  .news-and-update-button {
    grid-area: button;
    font-family: hknova-semibold;
    font-weight: 600;
    text-decoration: none;
    color: #037E8A;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #b3d8dc;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fafdfd;
    font-size: 18px;
    line-height: 27px;
    color: #037e8a;
    height: 52px;
    width: fit-content;
    width: -moz-fit-content;
    cursor: pointer;
    padding: 12.5px 24px;
    text-align: center;
  }

  .news-and-update-button:hover {
    border: 1px solid #026770;
    color: #026770;
  }

  .news-and-update-button:active {
    border: 1px solid #025b63;
    color: #025b63;
  }

  .news-and-update-button:focus {
    outline: 2px solid #1c8b95;
  }

  @media (max-width: 760px) {
    .nnuContainer {
      min-width: 328px;
      display: grid;
      grid-template-areas:
        "header header"
        "banner banner"
        "banner banner"
        "banner banner"
        "nnu__post--excerpt nnu__post--excerpt"
        "nnu__post--excerpt nnu__post--excerpt"
        "nnu__post--excerpt nnu__post--excerpt"
        "nnu__content--2 nnu__content--2"
        "nnu__content--2 nnu__content--2"
        "nnu__content--3 nnu__content--3"
        "nnu__content--3 nnu__content--3"
        "button button";
      grid-gap: 24px;
      padding: 16px;
    }

    .nnu__title {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 35px;
      color: #037e8a;
    }

    .nnu_divider {
      margin: 24px 0 0 0;
      border: 1px solid #dbdfe4;
    }

    .news-and-update-button {
      grid-area: button;
      width: 100%;
    }
  }
</style>

<div class="nnuContainer">
  <div class="nnu__title">News and Updates</div>
  <div class="nnu__banner">
    <img alt="news-and-updates-image" class="nnu__image" src="/images/man-woman-background.png" />
  </div>
  {% for post in site.posts limit:3 %}

  {% if forloop.index == 1 %}
  <div class="nnu__content--1">
    <div class="nnu__post--tag">
      {{ post.permalink | remove:'/news-and-updates/' | split: '/' | first |
      join: '' | replace: '-', ' ' | upcase}}
    </div>
    <div class="nnu__post--title">{{ post.title }}</div>
    <div class="nnu__post--excerpt"> {{ post.excerpt }}</div>

    <div class="nnu__post--footer">
      <div class="nnu__date">{{ post.date | date_to_string | upcase }}</div>
      <a href="{{post.url}}" class="nnu__readMoreLink">Read more</a>
    </div>
    <div class="nnu_divider"></div>
  </div>

  {% elsif forloop.index == 2 %}
  <div class="nnu__content--2">
    <div class="nnu__post--tag">
      {{ post.permalink | remove:'/news-and-updates/' | split: '/' | first |
      join: '' | replace: '-', ' ' | upcase}}
    </div>
    <div class="nnu__post--title2">{{ post.title }}</div>

    <div class="nnu__post--footer">
      <div class="nnu__date">{{ post.date | date_to_string | upcase }}</div>
      <a href="{{post.url}}" class="nnu__readMoreLink">Read more</a>
    </div>
    <div class="nnu_divider"></div>
  </div>

  {% else %}
  <div class="nnu__content--3">
    <div class="nnu__post--tag">
      {{ post.permalink | remove:'/news-and-updates/' | split: '/' | first |
      join: '' | replace: '-', ' ' | upcase}}
    </div>
    <div class="nnu__post--title2">{{ post.title }}</div>
    <div class="nnu__post--footer">
      <div class="nnu__date">{{ post.date | date_to_string | upcase }}</div>
      <a href="{{post.url}}" class="nnu__readMoreLink">Read more</a>
    </div>
    <div class="nnu_divider"></div>
  </div>

  {% endif %}
  </a>

  {% endfor %}

  {% include secondary-btn.html href="#" target="_blank" rel="noopener" text="Older News" %}
</div>