<style>
  [class*="nnu"] {
    font-family: hknova-regular;
  }

  .nnuContainer {
    min-width: 328px;
    display: grid;
    grid-template-areas:
      "header"
      "banner"
      "nnu__post--preview"
      "nnu__content--2"
      "nnu__content--3"
      "button";
    row-gap: 24px;
    padding: 16px 16px 64px;
    margin: 0 auto;
  }

  .nnu__title {
    grid-area: header;
    font-family: hknova-semibold;
    font-size: 28px;
    line-height: 35px;
    color: #037e8a;
  }

  .nnu__banner {
    grid-area: banner;
  }

  .nnu__banner img {
    width: 100%;
  }

  [class*="nnu__content"] {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .nnu__content--1 {
    grid-area: nnu__post--preview;
  }

  .nnu__content--2 {
    grid-area: nnu__content--2;
  }

  .nnu__content--3 {
    grid-area: nnu__content--3;
  }

  .nnu__post--title {
    font-family: hknova-semibold;
  }

  .nnu__post--title2 {
    font-family: hknova-semibold;
    font-size: 18px;
    line-height: 27px;
    color: #313840;
  }

  .nnu__post--footer {
    display: flex;
    flex-direction: row;
  }

  .nnu__post--footer>:first-child {
    margin-right: 16px;
  }

  .nnu__date {
    font-size: 14px;
    line-height: 24px;
  }

  .nnu__readMoreLink {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
  }

  .nnu__divider {
    margin: 16px 0 8px;
    border-bottom: 1px solid #dbdfe4;
  }

  .nnu__btnContainer {
    grid-area: button;
    margin-top: 8px;
  }

  #main-content .nnuContainer .nnu__btnContainer a.secondary-btn {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: unset;
  }

  @media (min-width: 768px) {
    .nnu__title {
      font-size: 36px;
      line-height: 45px;
    }

    .nnuContainer {
      display: grid;
      grid-template-areas:
        "header ."
        "banner nnu__content--2"
        "banner nnu__content--3"
        "nnu__post--preview nnu__content--3"
        ". button";
      row-gap: 24px;
      column-gap: 64px;
      padding: 24px 24px 40px;
      max-width: 1140px;
    }

    .nnu__post--title {
      font-family: hknova-semibold;
      font-size: 24px;
      line-height: 30px;
      color: #313840;
    }

    .nnu__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: right;
    }

    .nnu__post--preview {
      font-family: hknova-regular;
      font-size: 16px;
      line-height: 24px;
    }

    .nnu__post--tag {
      font-size: 14px;
      line-height: 24px;
      color: #647283;
    }

    .nnu__date {
      font-size: 14px;
      line-height: 24px;
      color: #647283;
    }

    .nnu__readMoreLink {
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #2a6ebb;
    }

    .nnu__content--1 .nnu__divider {
      display: none;
    }

    .nnu__divider {
      margin-top: 8px;
      border-bottom: 1px solid #dbdfe4;
    }

    .nnu__btnContainer {
      max-width: 144px;
    }
  }
</style>

<div class="nnuContainer">
  <div class="nnu__title">News and Updates</div> 

  <!-- TODO: Explore getting blog posts using something like site.posts; might need to filter somehow -->
  {% for post in site.posts limit:3 %}

  {% if forloop.index == 1 %}
  <div class="nnu__banner">
    <img alt="news-and-updates-image" class="nnu__image" src="{{post.image}}" />
  </div>
  <div class="nnu__content--1">
    <div class="nnu__post--tag">
      {{ post.permalink | remove:'/news-and-updates/' | split: '/' | first |
      join: '' | replace: '-', ' ' | upcase}}
    </div>
    <h4 class="nnu__post--title">{{ post.title }}</h4>
    <div class="nnu__post--preview">{{ post.preview }}</div>

    <div class="nnu__post--footer">
      <div class="nnu__date">{{ post.date | date_to_string | upcase }}</div>
      <a href="{{post.url}}/?src=home_news" class="nnu__readMoreLink">Read more</a>
    </div>
    <hr class="nnu__divider">
  </div>

  {% elsif forloop.index == 2 %}
  <div class="nnu__content--2">
    <div class="nnu__post--tag">
      {{ post.permalink | remove:'/news-and-updates/' | split: '/' | first |
      join: '' | replace: '-', ' ' | upcase}}
    </div>
    <div class="nnu__post--title2">{{ post.title }}</div>

    <div class="nnu__post--footer">
      <div class="nnu__date">{{ post.date | date_to_string | upcase }}</div>
      <a href="{{post.url}}/?src=home_news" class="nnu__readMoreLink">Read more</a>
    </div>
    <hr class="nnu__divider">
  </div>

  {% else %}
  <div class="nnu__content--3">
    <div class="nnu__post--tag">
      {{ post.permalink | remove:'/news-and-updates/' | split: '/' | first |
      join: '' | replace: '-', ' ' | upcase}}
    </div>
    <div class="nnu__post--title2">{{ post.title }}</div>
    <div class="nnu__post--footer">
      <div class="nnu__date">{{ post.date | date_to_string | upcase }}</div>
      <a href="{{post.url}}/?src=home_news" class="nnu__readMoreLink">Read more</a>
    </div>
    <hr class="nnu__divider">
    <div class="nnu__btnContainer">
      {% include secondary-btn.html href="/news-and-updates/" text="Older News" %}
    </div>
  </div>
  {% endif %}

  {% endfor %}
</div>