<div class="news-media-container">
  {% for item in site.posts limit:3 %}
  <div class="col">
    <a href="{{item.url}}">
      <div
        class="media-card-plain bg-media-color-3 padding--lg resources">
        <div>
          <small class="has-text-white padding--bottom">{{ item.tag }}</small>
          <h4 class="has-text-white padding--bottom--lg">{{ item.title }}</h4>
        </div>
        <div class="is-fluid padding--top--md description">
          <small class="has-text-white">{{ item.date | date_to_string | upcase }}</small>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>