<script defer>
  window.addEventListener("DOMContentLoaded", event => {
    const html = document.querySelector('html.has-navbar-fixed-top-widescreen')
    html.setAttribute('style', 'padding-top: 0 !important')
    let navbar = document.querySelector(".masthead-container");
    navbar.setAttribute('style', 'position: relative')
    navbar.children[0].setAttribute('style', 'height: 28px !important')
    let row = document.getElementsByClassName('bp-container')
    row[0].children[0].setAttribute('style', 'margin-top: 0; margin-bottom: 0')
    row[0].children[0].children[0].setAttribute('style', 'padding: 0')
    let notifications = document.createElement("div");
    notifications.innerHTML = `
    <div class="notifications-container">
      {% for item in site.data.notifications %}
        <div class="notification-container">
          <h6 class="x"><b>[{{item.type}}]</b> {{item.text}}</h6>
          <div class="control" style="background-color: #037e8a;">
            <a id="cancel-notification" class="button has-text-white">
              <span class="delete sgds-icon sgds-icon-cross is-size-4"></span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    `;
    let parent = navbar.parentNode;
    parent.insertBefore(notifications, navbar);
    window.scrollTo(0, 0);
    let control = document.querySelectorAll('.notification-container>.control')
    control.forEach(x => {
      x.onclick = e => {
        e.target.parentNode.parentNode.parentNode.parentNode.removeChild(e.target.parentNode.parentNode.parentNode)
      }
    })
  });
</script>