
<style>

    #toc-panel {
    background-color: #EEF0F2;
    word-break: break-word;
    padding: 24px;
    border-radius: 5px;
    }

    .toc-title {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    font-family: 'hknova-semibold';
    color: #313840 !important;
    }

    .toc-links {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 27px;
    font-family: 'hknova-regular';
    }

    .toc-links li:last-child {
    margin-bottom: 8px !important;
    }

    /* don't need to include in actual isomer code */

    .toc-links li:not(:last-child) {
    margin-bottom: 16px;
    }

    .toc-links a {
    color: #2a6ebb;
    }

    .toc-links a:visited {
    color: #89579B;
    }

    .toc-links a:hover {
    color: #084E8A;
    }

    .toc-links a:visited:hover {
    color: #521B88;
    }

    @media (max-width: auto) {
        .toc-panel {
            grid-template-columns: 1fr;
        }
    }


</style>
<div id="toc-panel" role="navigation">
    <h2 class="toc-title">On this page:</h2>
    <ul class="toc-links">
    {% for anchorlink in include.anchorlinks %}
      <li><a href="{{ anchorlink.anchor }}">{{ anchorlink.anchor_text}}</a></li> 
    {% endfor %}
     </ul>
  </div>