
<style>

    .content .spanel {
        word-break: break-word;
        background-color: #EEF0F2;
        
    }

    .content .spanel .spanel-title {
        font-family: hknova-semibold;
    }

    .content .spanel .spanel-description,
    .content [class*="spanel-"]>div {
        font-family: hknova-regular;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content .spanel .spanel-links-container {
        display: grid;
        height: fit-content;
        align-self: end;
    }

    .content .spanel .spanel-link {
        font-size: 18px;
        display: block;
    }


    @media (max-width: auto) {
        .content .spanels {
            grid-template-columns: 1fr;
        }
    }

    ul {
        padding-left: 20px;
    }

</style>
<div class="spanels" role="navigation">
    {% for spanel in include.spanels %}
    <div class="spanel" role="navigation">
        {% if {{spanel.label}} %}
        <div class="spanel-label">{% include label.html label=spanel.label %}</div>
        {% endif %}
        {% if spanel.image %}
        <div class="spanel-image">{{ spanel.image }}</div>
        {% endif %}
        <h2 class="spanel-title">{{ spanel.title }}</h2>
        {% if spanel.description %}
        <p class="spanel-description">{{ spanel.description }}</p>
        {% endif %}
        {% if spanel.tel or spanel.email or spanel.url %}
        <div class="spanel-links-container">
            {% if spanel.tel %}
            <div class="spanel-links-group">
                {% assign tels = spanel.tel | split: '|' %}
                {% for tel in tels %}
                <a class="spanel-link" href="tel:{{ tel }}">{{ tel }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% if spanel.email %}
            <div class="spanel-links-group">
                {% assign emails = spanel.email | split: '|' %}
                {% for email in emails %}
                <a class="spanel-link" href="mailto:{{ email }}">{{ email }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% if spanel.url %} 
            <div class="spanel-links-group">
                {% assign urls = spanel.url | split: '|' %}
                {% for url in urls %}
                <a class="spanel-link"
                    href="{% if spanel.protocol %}{{spanel.protocol}}://{% else %}{% endif %}{{url}}"
                    target="{% if spanel.url-new-tab %}_blank{% else %}{% endif %}">
                    {% if spanel.text %}{{spanel.text}}
                    {% else %}{{url}}{% endif %}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>