<style>
    .panels {
        display: grid;
        grid-gap: 26px;
        grid-template-columns: 50% 50%;
    }

    .panel {
        display: flex;
        flex-direction: column;
        border: 1px solid #dbdfe4;
        box-shadow: 0 0 0 rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
        border-radius: 5px;
        padding: 23px;
    }

    .panel-image {
        font-family: "HK Nova", sans-serif;
        font-size: 24px;
        font-weight: 600;
        width: 60px;
    }

    .panel-description {
        font-family: "HK Nova", sans-serif;
        font-size: 18px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link {
        font-family: "HK Nova", sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
    }

    .panel-description1 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    @media only screen and (max-width: 600px) {
        .panels {
            grid-template-columns: 100%;
        }
    }

</style>
<div class="panels">

    {% for panel in include.panels %}
    <div class="panel">
        <span class="panel-image">{{ panel.image }}</span>
        <p class="panel-description">{{ panel.description }}</p>
        <!-- description to change the style -->
        <a class="panel-link" href="{{ panel.link }}">{{ panel.description1 }}</a>
    </div>
    {% endfor %}

</div>
