
<style> 
    .content .panels {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin: 24px 0;
    }

    .content .panel {
        display: grid;
        row-gap: 16px;
        border: 1px solid #dbdfe4;
        box-shadow: 0 0 0 rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
        border-radius: 5px;
        word-break: break-word;
        grid-auto-rows: auto;
    }

    .content .panel .panel-image {
        font-family: hknova-semibold;
        font-size: 24px;
        font-weight: 600;
        width: auto;
        height: 60px;
    }

    .content .panel .panel-banner>img {
        width: 498px;
        height: 200px;
        margin: 0;
        object-fit: cover;
    }

    .content .panel .panel-image>img {
        width: auto;
        height: 100%;
        margin: 29px 0 0 29px;
        object-fit: cover;
    }

    .content .panel .panel-title {
        font-family: hknova-semibold;
        margin: 202px 29px 20px 29px;
    }

    .content .panel .panel-description,
    .content [class*="panel-"]>div {
        font-family: hknova-regular;
        margin: 0 29px 20px 29px;
    }

    .content .panel .panel-links-container {
        display: grid;
        row-gap: 8px;
        height: fit-content;
        align-self: end;
    }

    .content .panel .panel-link {
        font-size: 18px;
        line-height: 27px;
        display: block;
        margin: 10px 0 5px 0;
    }
    .content .panel .panel-info {
        font-family: hknova-regular;
        font-size: 18px;
        line-height: 27px;
        color: #647283;
        text-decoration: none;
    }

    .content .panel .panel-second-title {
        font-family: hknova-regular;
        font-size: 18px;
        font-weight: bold;
        margin: 10px 29px 50px 29px;
    }

    @media (max-width: 600px) {
        .content .panels {
            grid-template-columns: 1fr;
        }
    }
</style>
<div class="panels">
    {% for panel in include.panels %}
    <div class="panel">
        {% if {{panel.label}} %}
        <div class="panel-label">{% include label.html label=panel.label %}</div>
        {% endif %}
        {% if panel.image %}
        <div class="panel-image" aria-hidden="true">{{ panel.image }}</div>
        {% endif %}
        {% if panel.banner %}
        <div class="panel-banner" aria-hidden="true">{{ panel.banner }}</div>
        {% endif %}
        <h4 class="panel-title">{{ panel.title }}
        {% if panel.is_new %}
        <span style="margin-left: 8px;">
          {% include new-tag.html %}
        </span>
        {% endif %}
        </h4>
        {% if panel.description %}
        <p class="panel-description">{{ panel.description }}</p>
        {% endif %}
        {% if panel.secondTitle %}
        <p class="panel-second-title">{{ panel.secondTitle }}</p>
        {% endif %}
        {% if panel.secondDescription %}
        <p class="panel-second-description">{{ panel.secondDescription }}</p>
        {% endif %}
        {% if panel.tel or panel.url or panel.text %}
        <div class="panel-links-container">
            {% if panel.tel %}
            <hr style="width:100%;text-align:left;margin:0">
            <div class="panel-links-group">
                {% assign tels = panel.tel | split: ',' %}
                {% for tel in tels %}
                <a class="panel-link" href="tel:{{ tel }}">{{ tel }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% if panel.url %}
            <hr style="width:100%;text-align:left;margin:0">
            <div class="panel-links-group">
                {% assign urls = panel.url | split: ',' %}
                {% for url in urls %}
                {% if panel.url-new-tab %}
                <a class="panel-link"
                    href="{% if panel.protocol %}{{panel.protocol}}://{% else %}{% endif %}{{url}}"
                    target="_blank" rel="noopenner">
                {% else %}
                    <a class="panel-link"
                    href="{% if panel.protocol %}{{panel.protocol}}://{% else %}{% endif %}{{url}}">
                {% endif %}
                    {% if panel.text %}{{panel.text}}
                    {% else %}{{url}}{% endif %}</a>
                {% endfor %}
            </div>
            {% else %}
                {% if panel.text %}
                <hr style="width:100%;text-align:left;margin:0">
                <div class="panel-info">
                    {{panel.text}}
                </div>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
        {% if panel.call or panel.contactForm or panel.email %}
        {% if panel.call %}
        <p><strong>Call:</strong> <a class="panel-link" href="tel:{{ panel.call }}">{{ panel.call }}</a></p>
        {% endif %}
        {% if panel.contactForm %}
        <p><strong>Contact Form:</strong> <a class="panel-link" href="{{ panel.contactForm }}">Click here</a></p>
        {% endif %}
        {% if panel.email %}
        <a class="panel-link" href="mailto:{{ email }}">{{ email }}</a>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>