<style>
  .pre-footer__container {
    background-color: #313840 !important;
    color: white !important;
    padding: 24px;
    margin-top: 24px;
  }

  .pre-footer__title {
    font-family: "hknova-semibold";
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .pre-footer__title-container {
    max-width: 680px;
  }

  .pre-footer__description {
    font-family: "HK Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9da9b7;
  }

  .pre-footer__middle {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 40px 0 32px 0;
  }

  .pre-footer__logos {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px 42px;
    flex-wrap: wrap;
  }

  .pre-footer__logos:last-child {
    margin-right: 24px;
  }

  .pre-footer__collaboration {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 15px;
  }

  .pre-footer__image {
    color: #ffffff;
  }

  .pre-footer__image img {
    min-width: 168px;
    min-height: 72px;
  }

  .pre-footer__first {
    padding: 0;
  }

  .pre-footer__second {
    flex: 1 1 auto;
    padding: 0;
  }

  .pre-footer__third {
    /* flex: 1 0 auto; */
    padding: 0;
  }
</style>
<footer class="bp-footer" style="padding-bottom: 0px">
  <div class="bp-container">
    <div class="pre-footer__title-container">
      <h5 class="pre-footer__title">GoBusiness Singapore</h5>
      <p class="pre-footer__description">
        GoBusiness is jointly developed as a Whole-of-Government initiative for
        businesses in Singapore to access Government e-services and resources.
      </p>
    </div>
    <div class="pre-footer__middle">
      <div class="pre-footer__first">
        <p class="pre-footer__collaboration">A collaboration between</p>
        <div class="pre-footer__logos">
          <div class="pre-footer__image">
            <img
              src="/images/logo-mti.svg"
              alt="Ministry of Trade and Industry Singapore Logo"
            />
          </div>
          <div class="pre-footer__image">
            <img src="/images/logo-smart-nation.svg" alt="Smart Nation Logo" />
          </div>
          <div class="pre-footer__image">
            <img src="/images/logo-govtech.svg" alt="Singapore Govtech Logo" />
          </div>
        </div>
      </div>
      <div class="pre-footer__second">
        <p class="pre-footer__collaboration">Developed by</p>
        <div class="pre-footer__image">
          <img
            src="/images/logo-GDS.svg"
            alt="Government Digital Services Logo"
          />
        </div>
      </div>
      <div class="pre-footer__third">
        <p class="pre-footer__collaboration">Accolades</p>
        <div class="pre-footer__image">
          <img
            src="/images/logo-DSA.svg"
            alt="Digital Services Awards 2021 Best Usability Honorable Mention"
          />
        </div>
      </div>
    </div>
    <div class="row is-vcentered">
      <div class="col padding--top--md padding--bottom--md">
        <div class="col divider padding--top--none padding--bottom--none"></div>
      </div>
    </div>
  </div>
</footer>
