<style>
  .secondary-btn {
    border: 1px solid #b3d8dc;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fafdfd;
    font-size: 18px;
    line-height: 27px;
    color: #037e8a;
    height: 52px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    padding: 12.5px 24px;
  }

  .secondary-btn:hover {
    border: 1px solid #026770;
    color: #026770;
  }

  .secondary-btn:active {
    border: 1px solid #025b63;
    color: #025b63;
  }

  .secondary-btn:focus {
    outline: 2px solid #1c8b95;
  }

  .secondary-btn>a,
  .secondary-btn>a:hover,
  .secondary-btn>a:visited,
  .secondary-btn>a:visited:hover {
    font-family: hknova-semibold;
    font-weight: 600;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #037E8A;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<button class="secondary-btn">
  <a href="{{include.href}}" target="{{include.target}}">{{include.text}}</a>
</button>