<style>
  [class*="sisterbrand"] {
    font-family: hknova-regular;
  }

  .sisterbrand__container {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    background-color: #F9FAFA;
  }


  .sisterbrand__header {
    line-height: 45px;
    color: #037e8a;
  }

  .sisterbrand_url {
    text-decoration-line: underline;
  }

  .sisterbrand__title {
    text-align: center;
  }

  .sisterbrand__contents {
    display: grid;
    grid-template-areas:
      "content-3"
      "content-4";
    grid-gap: 25px;
  }

  .sisterbrand__left-bottom {
    grid-area: content-3;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    row-gap: 8px;
    height: auto;
  }

  .sisterbrand__right-bottom {
    grid-area: content-4;
    display: flex;
    flex-wrap: nowrap;
    background: #ffffff;
    border-bottom: 1px solid #dbdfe4;
    border-top: 1px solid #dbdfe4;
    border-left: 1px solid #dbdfe4;
    border-right: 1px solid #dbdfe4;
    border-radius: 5px;
    row-gap: 8px;
    height: auto;
  }

  .sisterbrand__logoWrapper {
    padding: 24px;
    margin-top: 24px;
  }

  .sisterbrand__logo {
    width: 130px;
    height: auto;
  }

  .sisterbrand__Rcard--body {
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    padding: 0 0 0 24px;
    margin: 16px 0;
    
  }

  .sisterbrand__Lcard--body {
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .sisterbrand__contents {
      display: grid;
      grid-template-areas:
        "content-3 content-4";
      row-gap: 50px;
      margin: 0 auto;
      column-gap: 64px;
      grid-template-columns: 538px 538px;
      justify-items: center;
      justify-content: center;

    }

    .sisterbrand__left-bottom {
      height: 100%;
      width: auto;
      max-width: 538px;
    }
    .sisterbrand__right-bottom {
      height: 100%;
      width: auto;
      max-width: 538px;
    }
    .sisterbrand__logoWrapper {
      padding: 0 24px;
    }
    .sisterbrand__logo {
      width: 70px;
    }
  }
</style>
<div class="sisterbrand__container">
  <div class="sisterbrand__header">
    <div class="sisterbrand__contents">
      <div class="sisterbrand__left-bottom">
        <div class="sisterbrand__Lcard--body">
            Looking for Government e-services for <b>citizens</b>?
          </div>
      </div>
      <div class="sisterbrand__right-bottom">
          <div class="sisterbrand__logoWrapper">
            <img class="sisterbrand__logo" src="/images/LifeSG Homepage.png" alt="logo" />
          </div>
          <div class="sisterbrand__Rcard--body">
            To access Government e-Services and resources for individuals and families<br>
            <a class="sisterbrand_url" href="https://www.life.gov.sg/?utm_source=gobiz&utm_medium=referral&utm_campaign=gobiz&utm_content=homepage" target="_blank" rel="noopener">Visit LifeSG</a>
          </div>
      </div>
    </div>
  </div>
</div>