<style>
  #status-border{
    background: #E6F2F3;
    border-radius: 3px;
    width: auto;
    height: 24px;
    padding: 4px 8px;
    font-family: hknova-bold;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .teal{
    color: #02737D;
    background: #E6F2F3;
  }
  .blue{
    color: #0863CC;
    background: #E6F1FC;
  }
  .orange{
    color: #AB5916;
    background: #FEF2E9;
  }
  .green{
    color: #1C7530;
    background: #EAF6EC;
  }
  .red{
    color: #C6303E;
    background: #FCEBEC;
  }
  .grey{
    color: #4A5561;
    background: #EEF0F2;
  }

</style>
