<style>
    #status-border{
      background: #E6F2F3;
      border-radius: 3px;
      width: auto;
      height: auto;
      padding: 4px 8px;
      font-family: hknova-bold;
      font-size: 16px;
      line-height: 24px;
      display: inline-block;
      vertical-align: middle;
    }
  
    #status-border.teal{
      color: #02737D;
      background: #E6F2F3;
    }
    #status-border.tealearly{
      font-family: hknova-semibold;
      color: #02737D;
      background: #E6F2F3;
    }
    #status-border.blue{
      color: #0863CC;
      background: #E6F1FC;
    }
    #status-border.orange{
      color: #AB5916;
      background: #FEF2E9;
    }
    #status-border.green{
      color: #1C7530;
      background: #EAF6EC;
    }
    #status-border.red{
      color: #C6303E;
      background: #FCEBEC;
    }
    #status-border.grey{
      color: #4A5561;
      background: #EEF0F2;
    }
  
  </style>