<!-- Do Not Remove - Turn Tracking Beacon Code - Do Not Remove -->
<!-- Advertiser Name : DigitalSales_SG_Direct_Govtech -->
<!-- Beacon Name : Land-Page View-KP11 -->
<!-- If Beacon is placed on a Transaction or Lead Generation based page, please populate the turn_client_track_id with your order/confirmation ID -->
<script type="text/javascript">
    turn_client_track_id = "";
  </script>
  <script type="text/javascript" src="https://r.turn.com/server/beacon_call.js?b2=8Ip-u7_2ragdNE5F8vF2MI732YWNDoDjUC4uqavPGTBUhBm_v15bupRtDzg9cpGG_ZhahnA8iwveX0fs-UVDtA">
  </script>
  <noscript>
    <img border="0" src="https://r.turn.com/r/beacon?b2=8Ip-u7_2ragdNE5F8vF2MI732YWNDoDjUC4uqavPGTBUhBm_v15bupRtDzg9cpGG_ZhahnA8iwveX0fs-UVDtA&cid=">
  </noscript>
  <!-- End Turn Tracking Beacon Code Do Not Remove -->