<style>
  .panel__container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
  }

  .panel__header {
    line-height: 30px;
    color: #037e8a;
  }

  .panel_url {
    text-decoration-line: underline;
  }

  .panel__title {
    text-align: center;
  }

  .panel__contents {
    display: grid;
    grid-template-areas:
      "content-3"
      "content-4";
    grid-gap: 0px;
    border-bottom: 1px solid #dbdfe4;
    border-top: 1px solid #dbdfe4;
    border-left: 1px solid #dbdfe4;
    border-right: 1px solid #dbdfe4;
    border-radius: 5px;
    row-gap: 8px;
    height: auto;
    width: fit-content;
    padding: 16px 8px 32px 8px;
  }

  .panel__left-bottom {
    grid-area: content-3;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    row-gap: 8px;
    height: auto;
  }

  .panel__header .panel__title {
    font-family: hknova-semibold;
  }

  .panel__body {
    font-family: hknova-regular;
    text-align: left;
  }

  .panel__title {
    font-size: 24px;
    line-height: 30px;
    color: #037E8A;
    text-align: left;
  }

  .panel__right-bottom {
    grid-area: content-4;
    display: flex;
    flex-wrap: nowrap;
    background: #ffffff;

  }

  .panel__logoWrapper {
    padding: 24px;
    margin-top: 62px;
    width: 350px;
  }

  .panel__logo {
    width: 130px;
    height: auto;
  }

  .panel__Rcard--body {
    font-family: hknova-regular;
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    padding: 0 0 0 0px;
    margin: 16px 0;
    
  }

  .panel__Lcard--body {
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: auto;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    .panel__contents {
      display: grid;
      grid-template-areas:
        "content-3 content-4";
      margin: 0 auto;
      grid-template-columns: 3fr 1fr;
      justify-items: center;
      justify-content: center;
      padding: 16px 0;

    }

    .panel__left-bottom {
      height: 100%;
      width: auto;
      max-width: 800px;
    }
    .panel__right-bottom {
      height: 100%;
      width: auto;
      max-width: 150px;
    }
    .panel__logoWrapper {
      padding: 0 10px;
    }
    .panel__logo {
      width: 130px;
    }
  }
  
</style>
<div class="panel__container">
  <div class="panel__header">
    <div class="panel__contents">
      <div class="panel__left-bottom">
        <div class="panel__logoWrapper">
          <img class="panel__logo" src="/images/epjs/panel-icon.png" alt="panel icon"/>
        </div>
        <div class="panel__Rcard--body">
          <p id="status-border" class="tealearly">Early Access</p>
          <div class="panel__title">{{include.title}}</div>
          <div class="panel__body">{{include.body}}</div>
        </div>
      </div>
      <div class="panel__right-bottom">
        <div class="panel__Lcard--body">
          {% include primary-btn.html href=include.url text="Login to Sign Up" target="_blank" %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include status-border.html %}