
<!doctype html>
<html lang="en" class="has-navbar-fixed-top-widescreen"><head>
    <meta charset="utf8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:card" content="summary_large_image"><meta property="og:title" content="e-Services"><meta property="og:description" content="Quick Links {% include panels-eservices.html panels=site.data.eservice_quicklinks %} All e-Services {% include panels-eservices.html panels=site.data.eservice_all %}"> 
    <meta name="Description" CONTENT="Quick Links {% include panels-eservices.html panels=site.data.eservice_quicklinks %} All e-Services {% include panels-eservices.html panels=site.data.eservice_all %}">
    <meta property="og:image" content="https://gobusiness.gov.sg/images/Gobiz_logo_SG.svg">
    <meta property="og:url" content="https://gobusiness.gov.sg/e-services/">
    <link rel="canonical" href="https://gobusiness.gov.sg/e-services/" /><link rel="shortcut icon" href="/images/Gobiz_favicon.ico" type="image/x-icon"><link rel='stylesheet' href='https://d33wubrfki0l68.cloudfront.net/bundles/4ddb14de7d4c8ac2234ce8e29b63e37fb97b4f67.css'/>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,600" crossorigin="anonymous"><link type="application/atom+xml" rel="alternate" href="https://gobusiness.gov.sg/feed.xml" title="GoBusiness Singapore" /><script src="https://assets.dcube.cloud/scripts/wogaa.js" crossorigin="anonymous"></script><script crossorigin='anonymous' src='https://d33wubrfki0l68.cloudfront.net/js/ec6ebfc3c6ea59a9286f810448ab3ac7fb791557/assets/js/facebook-pixel.js'></script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=688926055194344&ev=PageView&noscript=1"/></noscript><script crossorigin='anonymous' src='https://d33wubrfki0l68.cloudfront.net/js/486e7bceaa02d2b37262e20a33271c051f622988/assets/js/linkedin-insights.js'></script>
        <noscript><img height="1" width="1" style="display:none" src="https://px.ads.linkedin.com/collect/?pid=918155&fmt=gif" /></noscript><title>e-Services</title>
</head>
<body><div class="masthead-container" id="navbar" onclick><section class="bp-section bp-masthead"><div class="bp-container ">
        <div class="row is-multiline is-vcentered">
            <div class="col is-9-desktop is-12-touch has-text-centered-touch">
                <a href="https://www.gov.sg" alt="Singapore Government" target="_blank" rel="noreferrer">
                    <span class="sgds-icon sgds-icon-sg-crest is-size-5" style="color:red"></span>
                    <span class="is-text">
                        A Singapore Government Agency Website<b> [NOTE: THIS IS A STAGING WEBSITE] </b></span>
                </a>
            </div>
        </div>
    </div>
</section><nav class="navbar is-transparent">
        <div class="bp-container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://d33wubrfki0l68.cloudfront.net/8527e249225f90f6b92db72f17f30b1ac72d03cc/b8be7/images/gobiz_logo_sg.svg" alt="Homepage" style="max-height:75px;max-width:200px;height:auto;width:auto;">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="bp-container is-fluid margin--none navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item is-hidden-widescreen is-search-bar">
                    <form action="/search/" method="get">
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                <input class="input is-fullwidth" id="search-box-mobile" type="text" placeholder="What are you looking for?" name="query">
                                <span class="is-large is-left">
                                  <i class="sgds-icon sgds-icon-search search-bar"></i>
                                </span>

                            </div>
                        </div>
                    </form>
                </div><div class="navbar-item has-dropdown is-hoverable"><a href="/start-a-business/" class="navbar-link is-uppercase">Start Business</a><div class="navbar-dropdown"><a href="/start-a-business/" class="navbar-item sub-link">Overview</a><a href="/start-a-business/choose-a-business-structure/" class="navbar-item sub-link">Key Steps to Start a Business</a><a href="/start-a-business/hire-employees/" class="navbar-item sub-link">Next Steps to Consider</a></div>
                            <div class="selector is-hidden-touch is-hidden-desktop-only"></div>
                        </div><div class="navbar-item has-dropdown is-hoverable"><a href="/run-and-grow/" class="navbar-link is-uppercase">Run and Grow Business</a><div class="navbar-dropdown"><a href="/run-and-grow/" class="navbar-item sub-link">Overview</a><a href="/gov-assist/" class="navbar-item sub-link">Government Assistance</a><a href="/business-grants/" class="navbar-item sub-link">Business Grants</a><a href="/licences/" class="navbar-item sub-link">Licences and Permits</a><a href="/run-and-grow/taxes-and-gst/" class="navbar-item sub-link">Taxes, GST & Customs</a><a href="/gebiz-alerts/" class="navbar-item sub-link">GeBIZ Alerts</a></div>
                            <div class="selector is-hidden-touch is-hidden-desktop-only"></div>
                        </div><div class="navbar-item has-dropdown is-hoverable"><a href="/covid/" class="navbar-link is-uppercase">Covid-19</a><div class="navbar-dropdown"><a href="/covid/" class="navbar-item sub-link">Overview</a><a href="/permittedlist/" class="navbar-item sub-link">Permitted Services</a><a href="/safemanagement/general/" class="navbar-item sub-link">Safe Management Requirements</a><a href="/supportschemes/general" class="navbar-item sub-link">Supporting Our Businesses</a><a href="/faq/general" class="navbar-item sub-link">FAQs</a></div>
                            <div class="selector is-hidden-touch is-hidden-desktop-only"></div>
                        </div><div class="navbar-item"><a href="/e-services/" class="navbar-item is-uppercase" style="height:100%;width:100%;">E-Services</a><div class="selector is-hidden-touch is-hidden-desktop-only active"></div>
                        </div><div class="navbar-item has-dropdown is-hoverable"><a href="/about-us/" class="navbar-link is-uppercase">Who We Are</a><div class="navbar-dropdown"><a href="/about-us/" class="navbar-item sub-link">About Us</a><a href="/news-and-media/" class="navbar-item sub-link">News and Media</a><a href="/contact-us/" class="navbar-item sub-link">Contact Us</a><a href="/faq/about/" class="navbar-item sub-link">FAQs</a></div>
                            <div class="selector is-hidden-touch is-hidden-desktop-only"></div>
                        </div><div class="navbar-item"><a href="" class="navbar-item is-uppercase" style="height:100%;width:100%;">Login</a><div class="selector is-hidden-touch is-hidden-desktop-only"></div>
                        </div></div>

            <div class="navbar-end is-hidden-touch is-hidden-desktop-only">
                <div class="navbar-item"><a class="bp-button is-text is-large" style="text-decoration: none" id="search-activate">
                            <span class="sgds-icon sgds-icon-search is-size-4"></span>
                        </a></div>
            </div>
        </div>
        </div>
    </nav>

    <div class="bp-container hide is-hidden-touch is-hidden-desktop-only search-bar" id="search-bar">
        <div class="row margin--top--sm margin--bottom--sm is-gapless">

            <div class="col">
                <form action="/search/" method="get">
                  <div class="field has-addons">
                      <div class="control has-icons-left is-expanded">
                          <input class="input is-fullwidth is-large" id="search-box" type="text" placeholder="What are you looking for?" name="query" autocomplete="off">
                          <span class="is-large is-left">
                            <i class="sgds-icon sgds-icon-search is-size-4 search-bar"></i>
                          </span>

                      </div>
                      <div class="control">
                          <button type="submit" class="bp-button is-secondary is-medium has-text-white search-button">SEARCH</button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="main-content" role="main" onclick><section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container ">
        <div class="row">
            <div class="col"><nav class="bp-breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/"><small>HOME</small></a></li><li><a href="/e-services/"><small>E-SERVICES</small></a></li></ul>
</nav>
</div>
        </div>
    </div>
    <div class="bp-container">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>e-Services</b></h1>
            </div>
        </div>
    </div></section><section class="bp-section">
        <div class="bp-container content padding--top--lg padding--bottom--xl">
            <div class="row">
                <div class="col is-8 is-offset-2 print-content"><center><h2>Quick Links</h2></center>

<style>
    .panels {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 33% 33% 33%;
    }

    .panel {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0 rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
        border-radius: 5px;
        padding: 23px;
    }

    .panel-title {
        font-family: "HK Nova", sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

    .panel-description {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin-top: 20px;
    }

    .panel-description1 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link1 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin-top: -20px;
    }

    .panel-description2 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link2 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin-top: -20px;
    }

    @media only screen and (max-width: 600px) {
        .panels {
            grid-template-columns: 100%;
        }
    }

</style>

<div class="panels">

    
    <div class="panel">
        <span class="panel-title">Licences and Permits</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/licences/">For new food service business owners</a>
        <a class="panel-link1" href="/licences/">For all other business owners</a>
        <a class="panel-link2" href=""></a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Gov Assist &amp; Business Grants</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/gov-assist/">Government Assistance</a>
        <a class="panel-link1" href="/productivity-solutions-grant/">Productivity Solutions Grant</a>
        <a class="panel-link2" href=""></a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Guides for Businesses</span>
        <!-- description to change the style -->
        <a class="panel-link" href="https://www.google.com.sg/">Start a Business e-Adviser</a>
        <a class="panel-link1" href="/licences/guided-journey/">Food Services Guided Journey</a>
        <a class="panel-link2" href="https://gaeadviser.gobusiness.gov.sg/">Gov Assist e-Adviser</a>
    </div>
    

</div>

<center><h2>All e-Services</h2></center>

<style>
    .panels {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 33% 33% 33%;
    }

    .panel {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0 rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
        border-radius: 5px;
        padding: 23px;
    }

    .panel-title {
        font-family: "HK Nova", sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

    .panel-description {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin-top: 20px;
    }

    .panel-description1 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link1 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin-top: -20px;
    }

    .panel-description2 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin: 10px 0 !important;
        flex-grow: 2;
        line-height: 35.2px !important;
    }

    .panel-link2 {
        font-family: "HK Nova", sans-serif;
        font-size: 20px;
        margin-top: -20px;
    }

    @media only screen and (max-width: 600px) {
        .panels {
            grid-template-columns: 100%;
        }
    }

</style>

<div class="panels">

    
    <div class="panel">
        <span class="panel-title">Starting a Business</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/start-a-business/choose-a-business-structure/">Key Steps to Start</a>
        <a class="panel-link1" href="/start-a-business/hire-employees/">Next Steps to Consider</a>
        <a class="panel-link2" href="/start-a-business/faqs/">FAQs</a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Being An Employer</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/start-a-business/hire-employees/">Hiring an employee</a>
        <a class="panel-link1" href="https://www.ssg-wsg.gov.sg/">Training your employee</a>
        <a class="panel-link2" href=""></a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Changes and Crisis situations</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/covid/">Covid-19 information for businesses</a>
        <a class="panel-link1" href=""></a>
        <a class="panel-link2" href=""></a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Financing a business and business subsidies</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/run-and-grow/tax-incentives/">Tax Incentives</a>
        <a class="panel-link1" href="/run-and-grow/loans/">Loans</a>
        <a class="panel-link2" href="/run-and-grow/grants/">Grants</a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Financial management and taxation</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/run-and-grow/taxes-and-gst/">Tax Filing</a>
        <a class="panel-link1" href="/run-and-grow/taxes-and-gst/#register-for-gst">GST</a>
        <a class="panel-link2" href=""></a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Responsibilities and obligations</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/licences/">Licences and Permits</a>
        <a class="panel-link1" href="/run-and-grow/imports-and-exports/">Importing and exporting goods</a>
        <a class="panel-link2" href=""></a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Developing the Business</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/gebiz-alerts/">Business Procurement-GeBIZ Alerts</a>
        <a class="panel-link1" href="/run-and-grow/toolkits-programmes/">Toolkits/Programmes</a>
        <a class="panel-link2" href="/start-a-business/adopt-technology/">Adopt technology</a>
    </div>
    
    <div class="panel">
        <span class="panel-title">Product and service design</span>
        <!-- description to change the style -->
        <a class="panel-link" href="/start-a-business/protect-your-ideas/">Protect your ideas</a>
        <a class="panel-link1" href="https://sacinet.enterprisesg.gov.sg/sac/forms/sacinet/sacinet-logon-external.form">Certification/Accrediation</a>
        <a class="panel-link2" href=""></a>
    </div>
    

</div>
</div><div class="col is-1 has-float-btns is-position-relative is-hidden-touch">
    <div class="float-buttons">
        <div class="actionbar__inner">
            <button class="bp-button" id="print-button" aria-label="Print">
              <i 
              class="sgds-icon sgds-icon-print is-size-4">
              </i>
            </button>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <button class="bp-button" id="copy-link" aria-label="Copy Link">
              <i 
              class="sgds-icon sgds-icon-link is-size-4">
              </i>
            </button>
            <input id="page-url" type="text" class="hide" value="https://gobusiness.gov.sg/e-services/"></div>
        <div class="actionbar__inner padding--top--sm">
            <a href="mailto:?Subject=e-Services&amp;Body= https://gobusiness.gov.sg/e-services/" id="mail-anchor" aria-label="Mail">
            <button class="bp-button">
            <i 
              class="sgds-icon sgds-icon-mail is-size-4">
            </i>
            </button>
            </a>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <a href="http://www.facebook.com/sharer.php?u=https://gobusiness.gov.sg/e-services/" target="_blank" id="fb-anchor" aria-label="Share in Facebook">
            <button class="bp-button">
              <i 
              class="sgds-icon sgds-icon-facebook-alt is-size-4">
              </i>
            </button>
            </a>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://gobusiness.gov.sg/e-services/&title=e-Services" target="_blank" id="li-anchor" aria-label="Share in LinkedIn">
            <button class="bp-button">
              <i 
              class="sgds-icon sgds-icon-linkedin-alt is-size-4">
              </i>
            </button>
            </a>
        </div>
    </div>
</div>

<script src='https://d33wubrfki0l68.cloudfront.net/js/a913fbdca3b464ccd8bc1762f3b7a988e5a381cb/assets/js/print.js'></script>
</div>
        </div>
    </section></div><footer class="bp-footer top-section" onclick>
    <div class="bp-container ">
        <div class="row">
            <div class="col header padding--top--lg padding--bottom--lg">
                <h5 class="sub-header has-text-white">
                    <b>GoBusiness Singapore</b>
                </h5>
            </div>
        </div>
        <div class="row is-top"><div class="row col is-multiline is-hidden-mobile "><div class="col is-one-quarter is-hidden-mobile padding--bottom--lg is-left"><p class="sub-header">
                                <b><a href="/start-a-business/" class="has-text-white">Start Business</a></b>
                            </p><p class="is-hidden-mobile">
                                    <a href="/start-a-business/">Overview</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/start-a-business/choose-a-business-structure/">Key Steps to Start a Business</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/start-a-business/hire-employees/">Next Steps to Consider</a>
                                </p></div><div class="col is-one-quarter is-hidden-mobile padding--bottom--lg is-left"><p class="sub-header">
                                <b><a href="/run-and-grow/" class="has-text-white">Run and Grow Business</a></b>
                            </p><p class="is-hidden-mobile">
                                    <a href="/run-and-grow/">Overview</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/gov-assist/">Government Assistance</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/business-grants/">Business Grants</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/licences/">Licences and Permits</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/run-and-grow/taxes-and-gst/">Taxes, GST & Customs</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/gebiz-alerts/">GeBIZ Alerts</a>
                                </p></div><div class="col is-one-quarter is-hidden-mobile padding--bottom--lg is-left"><p class="sub-header">
                                <b><a href="/covid/" class="has-text-white">Covid-19</a></b>
                            </p><p class="is-hidden-mobile">
                                    <a href="/covid/">Overview</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/permittedlist/">Permitted Services</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/safemanagement/general/">Safe Management Requirements</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/supportschemes/general">Supporting Our Businesses</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/faq/general">FAQs</a>
                                </p></div><div class="col is-one-quarter is-hidden-mobile padding--bottom--lg is-left"><p class="sub-header">
                                <b><a href="/e-services/" class="has-text-white">E-Services</a></b>
                            </p>
                        </div><div class="col is-one-quarter is-hidden-mobile padding--bottom--lg is-left"><p class="sub-header">
                                <b><a href="/about-us/" class="has-text-white">Who We Are</a></b>
                            </p><p class="is-hidden-mobile">
                                    <a href="/about-us/">About Us</a>
                                </p><p class="is-hidden-mobile">
                                    <a href="/news-and-media/">News and Media</a>
                                </p></div></div><div class="col is-hidden-tablet is-hidden-desktop"><p>
                            <a href="/start-a-business/">Start Business</a>
                        </p><p>
                            <a href="/run-and-grow/">Run and Grow Business</a>
                        </p><p>
                            <a href="/covid/">Covid-19</a>
                        </p><p>
                            <a href="/e-services/">E-Services</a>
                        </p><p>
                            <a href="/about-us/">Who We Are</a>
                        </p></div>
        </div>
        <div class="row">
            <div class="col padding--top--sm padding--bottom--sm is-right-desktop-only">
                <ul><li class="is-inline-block-desktop-only"><p><a href="/faq/about/">FAQ</a></p>
                        </li><li class="is-inline-block-desktop-only"><p><a href="/contact-us/">Contact Us</a></p>
                        </li></ul>
            </div>
            <div class="col is-hidden-tablet is-hidden-desktop padding--top--lg padding--bottom--none"></div>
        </div>
    </div>
</footer><footer class="bp-footer bottom-section" onclick>
    <div class="bp-container ">
        <div class="row is-vcentered">
            <div class="col padding--top--none padding--bottom--none">
                <div class="col divider padding--top--none padding--bottom--none"></div>
            </div>
        </div>
        <div class="row is-vcentered padding--top--sm">
            <div class="col is-two-thirds">
                <ul>
                    <li><a href="https://www.tech.gov.sg/report_vulnerability/">Report Vulnerability</a></li><li><a href="/privacy/">Privacy Statement</a></li><li><a href="/terms-of-use/">Terms of Use</a></li><li><a href="https://www.isomer.gov.sg" target="_blank" rel="noreferrer">Built with Isomer</a></li></ul>
            </div>
            <div class="col is-one-third has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p>
                    &copy; 2021
                        GoBusiness</p>
                <p class="last-updated">Last Updated 02 Mar 2021</p>
            </div>
        </div>
    </div>
</footer><script src=https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.3/polyfill.min.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl" crossorigin="anonymous"></script><script crossorigin='anonymous' src='https://d33wubrfki0l68.cloudfront.net/bundles/3ba9d1e792196ca70fed6857579125f9ee599d45.js'></script><script src="https://printjs-4de6.kxcdn.com/print.min.js" crossorigin="anonymous"></script>
<script crossorigin='anonymous' src='https://d33wubrfki0l68.cloudfront.net/bundles/120e43f2e3e4ceed831618f4a926e573de0d6f0e.js'></script><script src='https://d33wubrfki0l68.cloudfront.net/js/a4d6e2f4c3f35b5d9024470834b472fab726fd4d/assets/js/google_analytics.js'></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src='https://d33wubrfki0l68.cloudfront.net/js/2b9481e08db4e419412d58e57ab251876949aaa8/assets/js/autotrack.js'></script></body>
</html>