---
layout: skeleton
---

<body>
  <style>
    /* Desktop */
    .button-container {
      width: fit-content;
      margin: 40px auto 60px auto;
    }

    .section-1 {
      position: relative;
      width: 100vw;
      height: 350px;
    }

    .hero-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      overflow: hidden;
      background-image: url("/images/home_hero-banner.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .cta-container {
      position: relative;
      top: 62px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .cta-container>h1 {
      text-align: center;
      letter-spacing: -1px;
      color: #ffffff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .cta-container>p {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      margin-top: 25px;
      margin-bottom: 23px;
    }

    .cta-container>a {
      display: block;
      margin: 0 auto;
    }

    .cta-container>a>button {
      padding: 12px 24px;
      background: #037e8a;
      border-radius: 3px;
      color: #ffffff;
      border-width: 0;
      font-size: 16px;
      cursor: pointer;
    }

    .services-container {
      z-index: 1;
      bottom: 0;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: repeat(6, 210px);
      justify-content: center;
      width: 100%;
      height: auto;
      margin: 0 auto;
      box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03),
        0px 10.367px 37.0249px rgba(22, 26, 29, 0.03),
        0px 5.92398px 17.772px rgba(22, 26, 29, 0.03);
      padding: 0 30px;
    }

    .service {
      display: grid;
      justify-items: center;
      text-align: center;
      padding: 20px 10px;
      cursor: pointer;
      grid-template-rows: 40px 44px;
    }

    .service:hover {
      background-color: #EEF0F2;
    }

    .service:active {
      background-color: #DBDFE4;
    }

    .service:focus {
      outline: 2px solid #1C8B95;
      background-color: #DBDFE4;
    }

    .service>p {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #161a1d;
      margin-top: 11.75px;
    }

    .section-2 {
      background-color: #f0f4f6;
      width: 100vw;
      height: auto;
      padding-bottom: 60px;
    }

    .popular-group {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }

    .popular-group>p:first-of-type {
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: #484848;
    }

    .popular-group>div {
      margin: 5px 10px;
    }

    .popular-group>div>a>p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #484848;
    }

    .business-container {
      display: grid;
      grid-template-columns: 580px 580px;
      column-gap: 50px;
      justify-content: center;
      justify-items: center;
      margin-top: 64px;
    }

    .business-container>div {
      display: flex;
      flex-direction: column;
    }

    .business-container>div>h2 {
      font-family: hknova-regular;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      letter-spacing: -1px;
      color: #037e8a;
      margin-top: 34.65px;
      margin-bottom: 10px;
    }

    .business-container>div>p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #484848;
    }

    .section-3 {
      width: 100vw;
      height: auto;
    }

    .e-service-header-container {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
    }

    .e-service-header-container>h1 {
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      letter-spacing: -1px;
      color: #037e8a;
      padding-top: 60px;
      font-weight: bold;
    }

    .e-service-header-container>p {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #484848;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .panels {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 366px);
      justify-content: center;
      overflow: visible;
      margin: 0 16px;
    }

    .section-4 {
      width: 100vw;
      height: 698px;
      padding-bottom: 40px;
    }

    .gobizmove-container {
      width: 100%;
      height: 700px;
      position: absolute;
      z-index: 0;
      overflow: hidden;
      background-image: url("/images/home_gobizmove.svg");
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
    }

    .gobizmove-content {
      position: relative;
      z-index: 1;
      left: 15%;
      top: 160px;
    }

    .gobizmove-content>h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 52px;
      letter-spacing: -1px;
      color: #037e8a;
      position: relative;
    }

    .gobizmove-content>ul {
      font-family: hknova-regular;
      margin-top: 20px;
      position: relative;
      list-style-position: inside;
      list-style-type: disc;
    }

    .gobizmove-content>ul>li {
      font-size: 16px;
      line-height: 35px;
      color: #484848;
    }

    .gobizmove-button-container {
      margin-top: 30px;
    }

    .section-5 {
      width: 100vw;
      height: auto;
      padding: 50px 0;
    }

    .section-5 .view-more {
      text-align: center;
      padding: 28px 0 10px;
    }

    .section-5>h4,
    .section-6>h4 {
      margin-bottom: 16px;
    }

    .news-media-container small {
      font-size: 15px;
      line-height: 23px;
    }

    .news-media-container h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      height: 180px;
    }

    .news-media-container>div:nth-of-type(2)>a>div {
      cursor: pointer;
      background-color: #006699;
    }

    .news-media-container>div:nth-of-type(2)>a>div:hover {
      background-color: #004466;
    }

    .uppercase-text {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 1.5px;
      color: #484848;
      margin: 30px 0 16px;
    }

    .section-6 {
      padding: 100px 0;
      background-color: #F1F4F6;
    }

    .section-5>h1,
    .section-6>h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      letter-spacing: -1px;
      color: #037e8a;
    }

    .help-buttons-container {
      display: flex;
      width: fit-content;
      margin: 40px auto;
    }

    .help-buttons-container>button {
      margin: 10px;
    }

    #contact-helpdesk>button {
      color: #037e8a;
      background-color: #fafdfd;
      border: 1px solid #b3d8dc;
      box-sizing: border-box;
      border-radius: 3px;
    }

    .news-media-container {
      display: grid;
      grid-template-columns: repeat(3, 366px);
      justify-content: center;
      column-gap: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .col {
      cursor: pointer;
    }

    .break-desktop {
      display: block;
    }

    .break-mobile {
      display: none;
      z-index: 2;
      position: relative;
    }

    @media (max-width: 1600px) {
      .gobizmove-container {
        background-size: contain;
      }
    }

    /* iPad */

    @media (max-width: 1279px) {
      .break-ipad {
        display: block;
      }

      .section-4 {
        height: auto;
        background-color: #E8F1F9;
        padding-bottom: 80px;
      }

      .gobizmove-content {
        top: 60px;
      }

      .section-4>.break-ipad {
        margin-top: 110px;
        text-align: center;
      }

      .section-4>.break-ipad>img {
        width: 70vw;
      }

      .service {
        grid-template-rows: 40px 44px;
      }

      .service>p {
        line-height: 18px;
      }

      .services-container {
        grid-template-columns: repeat(6, 125px);
      }

      .popular-group {
        width: 90vw;
        margin: 0 auto;
        flex-wrap: wrap;
        padding: 20px 60px 0 60px;
        justify-content: start;
      }

      .business-container {
        margin-top: 64px;
        padding: 0 30px;
        grid-template-columns: 1fr;
        row-gap: 60px;
      }

      .e-service-header-container {
        text-align: center;
        width: 80vw;
      }

      .gobizmove-container {
        background-color: #E8F1F9;
        background-image: none;
      }

      .panels {
        justify-content: start;
        overflow: scroll;
        margin: 0 40px;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .panels::-webkit-scrollbar {
        display: none;
      }

      .news-media-container {
        margin: 20px 30px;
        overflow: scroll;
        justify-content: start;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .news-media-container::-webkit-scrollbar {
        display: none;
      }
    }

    /* Mobile */

    @media (max-width: 760px) {
      .break-mobile {
        display: block;
      }

      .break-desktop {
        display: none;
      }

      .cta-container {
        top: 40px;
      }

      .cta-container>h1 {
        font-size: 40px;
        line-height: 44px;
      }

      .cta-container>p {
        font-size: 18px;
        line-height: 28px;
        max-width: 370px;
        margin: 25px auto 23px;
      }

      .section-1 {
        height: 384px;
      }

      .services-container {
        grid-template-columns: 1fr 1fr;
      }

      .services-container>a {
        box-sizing: border-box;
        border: 0.5px solid #DBDFE4;
      }

      .services-container>a:nth-child(2n+1) {
        border-left: none;
      }

      .services-container>a:nth-child(2n) {
        border-right: none;
        margin-left: -1px;
      }

      .services-container>a:nth-child(1),
      .services-container>a:nth-child(2) {
        border-top: none;
        border-bottom: none;
      }

      .services-container>a:nth-child(5),
      .services-container>a:nth-child(6) {
        border-top: none;
        border-bottom: none;
      }

      .popular-group {
        flex-direction: column;
        padding: 20px 0 0 0;
      }

      .popular-group>* {
        margin-bottom: 8px;
      }

      .business-container {
        grid-template-columns: 1fr;
        padding: 0 16px;
        margin-top: 40px;
        row-gap: 60px;
      }

      .e-service-header-container>h1 {
        font-size: 40px;
        line-height: 44px;
        padding-right: 16px;
        padding-left: 16px;
      }

      .e-service-header-container>p {
        font-size: 18px;
        line-height: 24px;
        margin: 20px 16px 40px 16px;
      }

      .panels {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 auto;
      }

      .panel {
        width: 339px !important;
        height: 394px !important;
      }

      .gobizmove-content {
        position: static;
      }

      .news-media-container {
        grid-template-columns: 1fr;
      }

      .gobizmove-content {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -1px;
      }

      .gobizmove-content>h1 {
        padding-top: 60px;
        font-size: 40px;
        line-height: 44px;
      }

      .gobizmove-content>div {
        text-align: center;
        background-color: #E8F1F9;
      }

      .gobizmove-content>div>img {
        margin: 16px;
      }

      .gobizmove-button-container {
        margin-bottom: 60px;
      }

      .gobizmove-content>ul {
        text-align: left;
        max-width: 70vw;
        position: relative;
        left: 52px;
        list-style-position: outside;
      }

      .gobizmove-content>ul>li {
        font-family: hknova-regular;
        font-size: 16px;
      }

      .col {
        margin: 0 auto;
        padding: 0.75em 0;
      }

      .help-buttons-container {
        flex-direction: column;
        align-items: center;
      }

      .section-4 {
        width: 100vw;
        height: auto;
        padding-bottom: 60px;
      }

      .section-4>.break-mobile {
        margin-top: 0;
      }

      .section-4>.break-mobile>img {
        width: 100vw;
      }

      .news-media-container>.col {
        margin: 0 !important;
      }

      .section-5>h1 {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
      }

      .section-6>h1 {
        font-size: 40px;
        line-height: 44px;
        width: 80%;
        margin: 0 auto;
      }

      .services-container {
        column-gap: 0;
        padding: 0;
      }
    }
  </style>

  <div id="main-content" role="main" onclick>
    <div class="section-1">
      <div class="hero-container"></div>
      <div class="cta-container">
        <h1>Government <br class="break-mobile" />e-Services<br class="break-desktop" /> for<br
            class="break-mobile" /> your business</h1>
        <p>
          Licences, permits, grants and other e-Services, now all in one place
          on GoBusiness.
        </p>
        {% include primary-btn.html href="/login/?src=hero_banner" text="Log In to GoBusiness" %}
      </div>
    </div>

    <div class="services-container">
      <a href="/start-a-business/">
        <div class="service">
          <img src="/images/start a business.svg" alt="start-a-business" />
          <p>Start a Business</p>
        </div>
      </a>
      <a href="/gov-assist/">
        <div class="service">
          <img src="/images/govassist.svg" alt="gov-assist" />
          <p>Government Assistance</p>
        </div>
      </a>
      <a href="/licences/">
        <div class="service">
          <img src="/images/licences-40.svg" alt="licences-permits" />
          <p>Licences and Permits</p>
        </div>
      </a>
      <a href="/productivity-solutions-grant/">
        <div class="service">
          <img src="/images/psg.svg" alt="productivity-solutions-grant-listing" />
          <p>Productivity Solutions Grant Listing</p>
        </div>
      </a>
      <a href="/gebiz-alerts/">
        <div class="service">
          <img src="/images/gebiz alerts.svg" alt="gebiz-alerts" />
          <p>GeBIZ Alerts</p>
        </div>
      </a>
      <a href="/e-services/">
        <div class="service">
          <img src="/images/e-services.svg" alt="e-services" />
          <p>All Business e-Services</p>
        </div>
      </a>
    </div>

    <div class="section-2">
      <div class="popular-group">
        <p>Popular:</p>
        {% include popular-tag.html href="/gov-assist/budget-2021/" text="Budget 2021" %}
        {% include popular-tag.html href="https://form.gov.sg/#!/5ed05c2cde28b7001163f2f2/?src=homepage" target="_blank"
        text="Permissions and Manpower Declaration" %}
        {% include popular-tag.html href="https://foodservices.gobusiness.gov.sg/exemptions/login/?src=homepage"
        target="_blank" text="General Exemptions" %}
      </div>
      <div class="business-container">
        <div>
          <img
            src="/images/business-guidance.svg"
            alt="local-business-guidance" />
          <h2>Guidance for local businesses</h2>
          <p>
            Official information for <a class="panel-content-links underline" href="/start-a-business/">starting a
              business</a>, <a
              class="panel-content-links underline" href="/run-and-grow/">
              growing its presence</a>, and navigating through <a class="panel-content-links underline"
              href="/covid/">Covid-19</a>
          </p>
        </div>
        <div>
          <img
            src="/images/business-transactions.svg"
            alt="business-transactions" />
          <h2>Find the right resources with e-Adviser</h2>
          <p>
            Use our e-Advisers to <a class="panel-content-links underline"
              href="https://gaeadviser.gobusiness.gov.sg/?src=homepage" target="_blank">identify suitable government
              assistance</a>,
            <a class="panel-content-links underline" href="/e-services/guides-for-biz/">and more</a>, tailored to your
            business needs
          </p>
        </div>
      </div>
    </div>

    <div class="section-3">
      <div class="e-service-header-container">
        <h1>Find the <br class="break-mobile" />e-Services<br class="break-desktop" /> you need</h1>
        <p>
          Find what you need fast and easily, with our one-stop directory of e-services across the Singapore Government
        </p>
      </div>

      <div class="panels">
        {% include hyp-panels.html panels=site.data.hyp-panels-home.panels %}
      </div>

      <div class="button-container">
        {% include primary-btn.html href="/e-services/" text="View All e-Services" %}
      </div>
    </div>

    <div class="section-4">
      <div class="gobizmove-container"></div>
      <div class="gobizmove-content">
        <h1>GoBusiness is the<br />new home for:</h1>
        <ul>
          <li>GoBusiness Licensing, Food Services Licensing</li>
          <li>Gov Assist Portal</li>
          <li>Covid-19 Portal</li>
        </ul>
        <div class="gobizmove-button-container">
          {% include primary-btn.html href="/about-us/" text="Learn More" %}
        </div>
      </div>
      <div class="break-mobile break-ipad">
        <img src="/images/home_gobizmove-m.svg" alt="gobizmove-mobile">
      </div>
    </div>

    <div class="section-5">
      <p class="uppercase-text">News And Media</p>
      <h1>Be in the know</h1>
      {% include news-and-media.html %}
      <div class="view-more break-desktop">
        {% include primary-btn.html href="/news-and-media/" text="View More News" %}
      </div>
    </div>

    <div class="section-6">
      <p class="uppercase-text">Contact Us</p>
      <h1>Need business help?</h1>
      <div class="help-buttons-container">
        {% include primary-btn.html href="/faqs/popular/" text="View Our FAQ" %}
        {% include secondary-btn.html href="/contact-us/" text="Contact Helpdesk" %}
      </div>
    </div>
  </div>

  <script src="/jquery/jquery.min.js"></script>
  <script src="/jquery/scroll-top.js"></script>
  <script src="/jquery/notifications.js"></script>
</body>