---
layout: skeleton
---
<head>
    <meta id="refresh" http-equiv="refresh">
    <title>Interim</title>
</head>
<body>
    <h1>Interim</h1>
    {{ content }}
    <div>
        <p>Redirecting you in <span id="seconds">5</span>...</p>
    </div>
    <script src="/jquery/interim-page-refresh.js"></script>

    <style>
        #main-content {
            background-color: #4a5561 !important;
        }
        .panel>p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px !important;
            color: #4a5561 !important;
            margin-top: 10px !important;
            margin-bottom: 27px !important;
        }
    </style>
</body>