---
layout: skeleton
---

<style>
  .bg-hero {
      background: url('{{site.baseurl}}/images/Hack2021Banner-FINAL.png') no-repeat top center;
      -webkit-background-size: cover;
      background-size: cover;
  }

  .bg-hero-bottom {
      background: url('{{site.baseurl}}/images/peoplepattern.png') no-repeat top left;
      -webkit-background-size: cover;
      background-size: cover;
  }
</style>

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
      <div class="bp-container margin--top--lg margin--bottom--lg">
          <div class="row is-vcentered is-centered ma">
              <div class="col has-text-white is-hidden-touch has-text-centered">
<!--                     <h1 class="display padding--bottom--lg margin--none"><b>Build Technology for<br>the Public Good</b></h1>
                  <a href="{{ site.baseurl }}/#careers" class="bp-button is-white is-outlined is-uppercase search-button">Join Us</a> -->
                  <a href="{{ site.baseurl }}/hackathon/2021" class="bp-button is-white is-outlined is-uppercase search-button">2021 Projects</a>
              </div>
              <div class="has-text-white has-text-centered is-hidden-desktop">
<!--                     <h1 class="display padding--bottom--lg margin--none" style="font-size: 3.3rem; line-height: 4.25rem;"><b>Build Technology for the Public Good</b></h1>
                  <a href="{{ site.baseurl }}/#careers" class="bp-button is-white is-outlined is-uppercase search-button">Join Us</a> -->
                  <a href="{{ site.baseurl }}/hackathon/2021" class="bp-button is-white is-outlined is-uppercase search-button">2021 Projects</a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container padding--bottom--lg">
  <div class="row">
          <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
              <p class="padding--bottom eyebrow is-uppercase">
                  About Us
              </p>
              <h1 class="padding--bottom has-text-secondary"><b>Our philosophy</b></h1>
          </div>
  </div>

      <div class="row margin--top padding--bottom">
          <div class="col is-one-third">
              <div class="text-card is-white">
                  <img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/solve.svg" />
                  <h4 class="padding--top has-text-secondary padding--bottom"><b>Solve Real Problems</b></h4>
                  <p>Work on meaningful projects from communications to healthcare. Use your skills to fix actual problems faced in the community, not just to optimise profit.</p>
              </div>

          </div>
          <div class="col is-one-third">
              <div class="text-card is-white">
                  <img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/build.svg" />
                  <h4 class="padding--top has-text-secondary padding--bottom"><b>Build for the User</b></h4>
                  <p>Design and build products based on what real people actually need, whether they are members of the public or civil servants.</p>
              </div>

          </div>
          <div class="col is-one-third">
              <div class="text-card is-white">
                  <img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/push.svg" />
                  <h4 class="padding--top has-text-secondary padding--bottom"><b>Push For Change</b></h4>
                  <p>Actively prototype and evangelize ideas to make real things happen. Work around or cut through bureaucracy.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="bp-section padding--left--none padding--right--none" style="background-color:#276ef1">
  <div class="bp-container product-container">
      <div class="row">
          <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
              <p class="padding--bottom eyebrow is-uppercase has-text-white">
                  PRODUCTS
              </p>
              <h1 class="padding--bottom has-text-white padding--left--xl padding--right--xl"><b>Things we've made</b></h1>
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
      <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/data-mockup.png')">
          </div>
          <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom"><b>Data.gov.sg</b></h4>
              <p class="has-text-white">A open repository of all the Singapore Government's public data. It helps people understand the data using visualizations and articles, and provides realtime APIs for developers to use.</p>
              <a href="https://www.data.gov.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
          <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom "><b>Beeline</b></h4>
              <p class="has-text-white">Beeline is a data-driven shuttle bus platform. Bus routes are created from user suggestions and public transport usage data. Users can book, pay for, and track rides using a mobile app.</p>
              <a href="https://www.beeline.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
      </div>
      <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/beeline-mockup.png')">
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
          <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/form-mockup.png')">
          </div>
      <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom "><b>Form.gov.sg</b></h4>
              <p class="has-text-white">Form.gov.sg is a form builder tool for agencies to self-service and create online forms that capture classified data, with the goal of replacing paper forms.</p>
              <a href="https://form.gov.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
          <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom "><b>Parking.sg</b></h4>
              <p class="has-text-white">Parking.sg is a mobile app alternative to parking coupons. It lets users pay, extend, and refund their parking sessions just using their phones.</p>
              <a href="https://parking.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
          </div>
          <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/parking-mockup.png')">
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
          <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/isomer-mockup.png')">
          </div>
          <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom "><b>Isomer</b></h4>
              <p class="has-text-white">Isomer is a static website building and hosting service that helps government agencies create usable informational websites quickly and at no cost.</p>
              <a href="https://www.isomer.gov.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
          <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom "><b>OpenDoc</b></h4>
              <p class="has-text-white">OpenDoc is a simple and easy way to make documents easily searchable and available to the public. Public servants can modify, track changes and submit edit requests easily on the platform.</p>
              <a href="https://opendoc.gov.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
          </div>
          <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/opendoc-mockup.png')">
          </div>
      </div>
      <div class="row product-row padding--top--xl padding--bottom--xl">
          <div class="col is-half padding--top--xl padding--bottom--xl product-image" style="background-image: url('{{site.baseurl}}/images/gosg-mockup.png')">
          </div>
          <div class="col is-half padding--top--lg padding--bottom--lg padding--left--xl padding--right--xl">
              <h4 class="has-text-white padding--bottom "><b>Go.gov.sg</b></h4>
              <p class="has-text-white">Go.gov.sg is a government link shortener. Stop using bit.ly or tinyurl, and shorten your links with a trustworthy .gov.sg domain so your users know it's not phishing.</p>
              <a href="https://go.gov.sg" class="padding--top--lg padding--bottom is-block" target="_blank">
                  <div class="bp-button is-white is-outlined is-uppercase search-button">
                      Visit Website
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>

<section class="bp-section padding--top--none padding--bottom--none padding--left--none padding--right--none" style="background-color: black">
  <div class="bp-container is-fluid margin--left--none">
      <div class="row">
          <div class="col is-half padding--top--none padding--bottom--none" style="overflow: hidden; background-size: cover; background-position: top; background-image: url('{{site.baseurl}}/images/bg_how_we_do_it.png')">
          </div>
          <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl has-text-white">
              <h1><b>How we work</b></h1>
              <h5 class="padding--top--xl padding--bottom"><b>Product Development</b></h5>
              <p>We work in small, competent product teams that prototype quickly and release frequently. We develop products from the ground up through our annual hackathon.</p>
              <h5 class="padding--top--xl padding--bottom"><b>People</b></h5>
              <p>Our career schemas reward technical expertise and leadership and we encourage continuous learning for all team members.</p>
              <h5 class="padding--top--xl padding--bottom"><b>Open Culture</b></h5>
              <p>We believe in open communication within the team, openly sharing our work and approaches with the community, and open sourcing products for the embetterment of public service everywhere.</p>
          </div>
      </div>
  </div>
</section>

<section class="bp-section" id="careers">
  <div class="bp-container padding--bottom--lg">
      <div class="row">
          <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
              <p class="padding--bottom eyebrow is-uppercase">
                  CAREERS
              </p>
              <h1 class="padding--bottom has-text-secondary"><b>Join us</b></h1>
          </div>
      </div>
      <div class="row margin--top padding--bottom">
          <div class="col is-one-third">
              <div>
                  <img src="{{site.baseurl}}/images/product-manager.svg" />
              </div>
              <h4 class="padding--top--lg has-text-secondary"><b>Product Manager</b></h4>
              <p class="padding--top--sm">You chart the product goals. You plug gaps and gel everything together. You wear many hats to drive the project forward.</p>
              <a href="{{site.baseurl}}/careers/product-manager/" class="bp-sec-button margin--top padding--bottom">
                  <div>
                      <span>Read More</span>
                      <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                  </div>
              </a>
          </div>
          <div class="col is-one-third">
              <div>
                  <img src="{{site.baseurl}}/images/software-engineer.svg" />
              </div>
              <h4 class="padding--top--lg has-text-secondary"><b>Software Engineer</b></h4>
              <p class="padding--top--sm">You solve problems. You design and build systems and make sure they work.</p>
              <a href="{{site.baseurl}}/careers/software-engineer/" class="bp-sec-button margin--top padding--bottom">
                  <div>
                      <span>Read More</span>
                      <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                  </div>
              </a>
          </div>
          <div class="col is-one-third">
              <div>
                  <img src="{{site.baseurl}}/images/product-designer.svg" />
              </div>
              <h4 class="padding--top--lg has-text-secondary"><b>Product Designer</b></h5>
              <p class="padding--top--sm">You bridge user needs and business goals. You make the product work well and look good.</p>
              <a href="{{site.baseurl}}/careers/product-designer/" class="bp-sec-button margin--top padding--bottom">
                  <div>
                      <span>Read More</span>
                      <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>

<section class="bp-section" style="background: #F7F7F7;">
  <div class="bp-container">
          <div class="internship-row has-text-centered">
              <img src="{{site.baseurl}}/images/interns.svg" alt="Interns"/>
              <span style="color:#000000; font-size: 30px !important;">are welcome all year round</span>
              <a href="{{site.baseurl}}/careers/internships/" class="padding--top padding--bottom is-block">
                  <div class="bp-button is-uppercase cta-button">
                      Learn More
                  </div>
              </a>
          </div>
      </div>
  <div>
</section>

<section class="bp-section bg-hero-bottom">
  <div class="bp-container">
      <div class="row">
          <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
              <h2 class="padding--bottom" style="font-weight: bold">We are growing and looking for talented individuals to help us on our mission – build systems and improve public good.</h2>
              <a href="https://go.gov.sg/join-ogp">
                  <div class="bp-button is-white is-outlined is-uppercase search-button" target="_blank">
                      Be Part of the Team
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>
