---
layout: skeleton
---

<body>
  <style>
    #main-content {
      background-color: #f9fafa;
    }

    .page-title-container {
      margin-top: 0;
      text-align: center;
    }

    .page-title {
      font-family: hknova-semibold;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 35px;
      color: #161a1d !important;
    }

    .page-subtitle {
      font-family: hknova-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #4a5561 !important;
      margin-top: 15.5px !important;
    }

    .panels {
      display: grid;
      grid-template-areas:
        "grants gebiz licence licence licence"
        "biz subscribe food nparks others";
      margin-top: 28px;
      column-gap: 20px;
    }

    .panel-header-container {
      padding: 8px 0;
    }

    .panel-header {
      font-family: hknova-regular;
      font-style: normal;
      font-weight: 600;
      font-size: 12px !important;
      line-height: 15px !important;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff !important;
      margin: 0 !important;
    }

    #grants {
      grid-area: grants;
      background-color: #037e8a;
    }

    #gebiz {
      grid-area: gebiz;
      background-color: #096ee3;
    }

    #licence {
      grid-area: licence;
      background-color: #440088;
    }

    .panel {
      display: grid;
      grid-template-rows: 90px 1fr auto;
      margin: 12px 0;
      padding: 32px 15px 32px 15px;
      background: #ffffff !important;
      box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03),
        0px 7px 25px rgba(22, 26, 29, 0.03),
        0px 4px 12px rgba(22, 26, 29, 0.03);
      text-align: center;
    }

    .panel>h5 {
      font-family: hknova-semibold;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #037e8a !important;
      align-self: center;
      margin-bottom: 0 !important;
    }

    .panel>p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px !important;
      color: #4a5561 !important;
      margin-top: 10px !important;
      margin-bottom: 27px !important;
    }

    #biz {
      grid-area: biz;
    }

    #subscribe {
      grid-area: subscribe;
    }

    #food {
      grid-area: food;
    }

    #nparks {
      grid-area: nparks;
    }

    #others {
      grid-area: others;
    }

    .gobiz-sg {
      font-family: hknova-regular;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: #ffffff !important;
    }

    .secondary-btn {
      font-size: 14px !important;
      line-height: 21px !important;
      height: 40px !important;
      width: 176px !important;
    }


    /* Login Banner CSS */
    .loginBanner {
      width: 100%;
      display: grid;
      grid-template-rows: auto 1fr;
      background: #E6F2F3;
      box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
      padding: 40px 16px;
    }

    .loginBanner__imageWrapper {
      width: 100%;
      height: fit-content;
      text-align: center;
    }

    .loginBanner__image {
      max-width: 100%;
    }

    .loginBanner__content {
      display: grid;
      row-gap: 16px;
    }

    .loginBanner__title {
      font-size: 24px;
      font-family: hknova-semibold;
      line-height: 30px;
      color: #02737D !important;
      text-align: center;
      margin: 0 !important;
    }

    .loginBanner__description {
      font-size: 14px !important;
      line-height: 21px !important;
      text-align: center;
      color: #4A5561 !important;
      margin: 0 !important;
      margin-bottom: 24px;
    }

    .loginBanner__cta-text {
      font-family: hknova-semibold;
      font-size: 18px;
      line-height: 22px;
      color: #02737D;
      text-align: center;
      margin: 0 !important;
    }

    @media screen and (min-width: 1290px) {
      .loginBanner {
        grid-template-rows: 1fr;
        grid-template-columns: auto 1fr;
        box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03), 0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
        padding: 0;
        height: 379px;
      }

      .loginBanner__content {
        padding: 82px 105px;
      }
    }


    @media (max-width: 1290px) {
      .panel {
        grid-template-rows: auto auto 1fr;
        align-items: end;
      }

      .panels {
        grid-template-areas:
          "grants grants grants gebiz gebiz gebiz"
          "biz biz biz subscribe subscribe subscribe"
          "licence licence licence licence licence licence"
          "food food nparks nparks others others";
      }
    }

    @media (max-width: 750px) {
      .panels {
        grid-template-areas:
          "grants"
          "biz"
          "gebiz"
          "subscribe"
          "licence"
          "food"
          "nparks"
          "others";
      }
    }
  </style>

  <div id="main-content" onclick>
    <section class="bp-section">
      <div class="bp-container content padding--top--lg padding--bottom--xl">
        <div class="row">
          <div class="col print-content">
            <div class="page-title-container">
              <h4 class="page-title">Welcome to GoBusiness</h4>
              <p class="p2 page-subtitle">What would you like to do today?</p>
            </div>
            <div class="page-body-container">
              <div class="panels">
                <div id="grants" class="panel-header-container">
                  <h4 class="panel-header">Grants</h4>
                </div>
                <div id="gebiz" class="panel-header-container">
                  <h4 class="panel-header">Gebiz Alerts</h4>
                </div>
                <div id="licence" class="panel-header-container">
                  <h4 class="panel-header">Licences</h4>
                </div>
                <div id="biz" class="panel">
                  <h5>Business<br />
                    Grants Portal</h5>
                  <p>Apply for and manage grants on Business Grants Portal.</p>
                  {% include secondary-btn.html href="https://www.businessgrants.gov.sg/?src=login_bgp" target="_blank"
                  rel="noopener"
                  text="Log In" %}
                </div>
                <div id="subscribe" class="panel">
                  <h5>GeBIZ
                    Alerts</h5>
                  <p>Subscribe to GeBIZ alerts via email.</p>
                  {% include secondary-btn.html href="/gebiz-alerts/?src=login_gebizalerts"
                  text="Log In" %}
                </div>
                <div id="food" class="panel">
                  <h5>Licences for
                    Food Services</h5>
                  <p>Apply for and manage licences for food service businesses.</p>
                  {% include secondary-btn.html
                  href="https://foodservices.gobusiness.gov.sg/licences/foodservices?src=login_fs" target="_blank"
                  rel="noopener"
                  text="Log In" %}
                </div>
                <div id="nparks" class="panel">
                  <h5>Licences<br />from SFA/AVS/<br />NParks</h5>
                  <p>Apply for, renew and manage licences from Singapore Food Agency, Animal & Veterinary Service,
                    and NParks</p>
                  {% include secondary-btn.html
                  href="https://licence1.business.gov.sg/licence1/authentication/mainLogin.action"
                  target="_blank" rel="noopener"
                  text="Log In" %}
                </div>
                <div id="others" class="panel">
                  <h5>Licences for Other Sectors</h5>
                  <p>* Apply and renew licences<br>
                    * Manage licences</p>
                  {% include secondary-btn.html
                  href="https://licence1.business.gov.sg/feportal/web/frontier/home"
                  target="_blank" rel="noopener"
                  text="Log In" %}
                </div>
              </div>
              <div class="loginBanner">
                <aside class="loginBanner__imageWrapper">
                  <img class="loginBanner__image" src="/images/login-banner-image.svg" alt="Coming soon">
                </aside>
                <main class="loginBanner__content">
                  <h5 class="loginBanner__title">Launching in 2022: GoBusiness Dashboard</h5>
                  <p class="loginBanner__description">The new and improved GoBusiness Dashboard is designed to help you
                    apply for and manage licences efficiently with <a href="/news-and-updates/news/coming-soon-feature" target="_blank">all-new features</a>.</p>
                  <h6 class="loginBanner__cta-text">Get notified when it's launched!</h6>
                  {% include primary-btn.html href="http://go.gov.sg/gobusiness-mailing-list" target="_blank" text="Subscribe for Updates" %}
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://connect.facebook.net/signals/config/199274315251589?v=2.9.39&amp;r=stable" async></script>
  <script src="/jquery/jquery.min.js"></script>

</body>